Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

fix: update vercel.json configuration for proper deployment
  apps/storybook/vercel.json
Due: prettier --write

feat: add vercel.json for storybook deployment
  vercel.json
Due: prettier --write

ammend
  apps/storybook/.gitignore
Due: none

test: verify vercel auto-deployment on git push
  README.md
Due: prettier --write

fix: rename rolldown.config.ts to vite.config.ts and fix build script for vercel deployment
  libs/components/package.json
  libs/components/vite.config.ts
  vercel.json
Due: bunx oxlint --fix, prettier --write

fix: update vercel config to use pre-built storybook and include built assets
  vercel.json
Due: prettier --write

chore(vercel): configure Storybook deployment with Bun support
  apps/storybook/vercel.json
  vercel.json
Due: prettier --write

fix(storybook): use npx storybook build for better compatibility
  apps/storybook/package.json
Due: prettier --write

fix(vercel): use pre-built Storybook assets for deployment
  vercel.json
Due: prettier --write

feat(build): enable push-to-deploy workflow with Bun and fixed component library build
  bun.lock
  libs/components/package.json
  vercel.json
Due: prettier --write

fix: simplify vercel.json configuration
  vercel.json
Due: prettier --write

test: simplify storybook build to bypass component library build issue
  apps/storybook/package.json
Due: prettier --write

fix: allow Storybook config files in Vercel deployment
  .vercelignore
Due: none

vercel deployment of storybook
  apps/storybook/package.json
  apps/storybook/vercel.json
  package.json
  vercel.json
Due: prettier --write

vercel root directoy changr
  vercel.json
Due: prettier --write

Vercel.json fixes
  vercel.json
Due: prettier --write

Increments package version
  package.json
Due: prettier --write

Increments package version
  .junie/guidelines.md
  README.md
  client/index.html
  client/src/App.tsx
  client/src/main.tsx
  package.json
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

landing page implementation [Describe previous functionality and its issues] [Describe current functionality] [Describe reasoning behind the chosen solution]
  client/public/assets/favicon.svg
  client/public/assets/og/liquidify-og.svg
  client/public/robots.txt
  client/public/sitemap.xml
  client/src/components/ui/CTA.tsx
  client/src/components/ui/Card.tsx
  client/src/components/ui/ContrastToggle.tsx
  client/src/components/ui/Footer.tsx
  client/src/components/ui/Header.tsx
  client/src/components/ui/Hero.tsx
  client/src/components/ui/Showcase.tsx
  client/src/components/ui/Tabs.tsx
  client/src/components/ui/ThemeToggle.tsx
  client/src/lib/theme.ts
  client/src/pages/index.tsx
  client/src/styles/global.css
  client/src/styles/tokens.css
  libs/components/src/test/doc-example.test.tsx
Due: bunx oxlint --fix, prettier --write

landing page almost ready
  bun.lock
  client/.eslintrc.json
  client/package.json
  client/src/App.tsx
  client/src/components/ui/CTA.tsx
  client/src/components/ui/Card.tsx
  client/src/components/ui/ContrastToggle.tsx
  client/src/components/ui/Features.tsx
  client/src/components/ui/Footer.tsx
  client/src/components/ui/Header.tsx
  client/src/components/ui/Hero.tsx
  client/src/components/ui/Install.tsx
  client/src/components/ui/Showcase.tsx
  client/src/components/ui/ThemeToggle.tsx
  client/src/main.tsx
  client/src/pages/index.tsx
  client/src/styles/global.css
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  libs/components/package.json
  package.json
Due: bunx oxlint --fix, prettier --write

landing page fixes
  bun.lock
  client/package.json
  client/src/App.tsx
  client/src/main.tsx
Due: bunx oxlint --fix, prettier --write

preparing for css reimplementation
  apps/docs/components/CodeBlock.tsx
  apps/docs/components/SnippetPreview.tsx
  apps/docs/components/SnippetShowcase.tsx
  apps/docs/components/Snippets.tsx
  apps/docs/components/Tabs.tsx
  apps/docs/docs.json
  apps/docs/snippets.mdx
  snippets/components/ButtonExample.jsx
  snippets/preview/ComponentFrame.jsx
  snippets/preview/ProviderWrapper.jsx
Due: bunx oxlint --fix, prettier --write

full migration complete
  SHADCN_MIGRATION_COMPLETE.md
  apps/storybook/.cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  apps/storybook/.gitignore
  apps/storybook/.storybook/main.mjs
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.jsx
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/production-stories.config.js
  apps/storybook/CLAUDE.md
  apps/storybook/README.md
  apps/storybook/deploy.sh
  apps/storybook/package.json
  apps/storybook/public/README.md
  apps/storybook/public/backgrounds/.gitkeep
  apps/storybook/public/backgrounds/3cbf0e6a-09c8-4b47-9560-c3ff84130086.webp
  apps/storybook/public/backgrounds/Tahoe1x1.webp
  apps/storybook/src/stories/Button.stories.tsx
  apps/storybook/tsconfig.json
  bun.lock
  libs/components/src/hooks/use-theme.tsx
  package.json
  types/tailwindcss-filters.d.ts
Due: bunx oxlint --fix, prettier --write

static-preview-setup
  CLAUDE.md
  apps/docs/advanced/framework-integration.mdx
  apps/docs/components/glass-button.mdx
  apps/docs/components/slider.mdx
  apps/docs/development/build-system.mdx
  apps/docs/development/onboarding.mdx
  apps/docs/getting-started/project-setup.mdx
  apps/docs/index.mdx
  apps/storybook/.cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  apps/storybook/.gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  apps/storybook/CLAUDE.md
  apps/storybook/README.md
  apps/storybook/package.json
  apps/storybook/src/stories/Button.stories.tsx
  apps/storybook/tsconfig.json
  bun.lock
  component-showcase-part1.html
  component-showcase-styled.html
  component-showcase.html
  package.json
Due: bunx oxlint --fix, prettier --write

showcase cards
  apps/showcase/README.md
  apps/showcase/index.html
  apps/showcase/src/App.tsx
  apps/showcase/src/app.css
  apps/showcase/src/main.tsx
  apps/showcase/vite.config.ts
  package.json
Due: bunx oxlint --fix, prettier --write

Showcasing for landing page purposes
  apps/showcase/src/main.tsx
  apps/showcase/vite.config.ts
  libs/components/package.json
  libs/components/src/index.ts
  libs/components/src/styles/panda.css
  libs/components/vite.config.ts
Due: bunx oxlint --fix, prettier --write

feat(unified): add unified app with landing and components gallery
  apps/unified/README.md
  apps/unified/index.html
  apps/unified/package.json
  apps/unified/src/App.tsx
  apps/unified/src/main.tsx
  apps/unified/src/pages/Components.tsx
  apps/unified/src/pages/Landing.tsx
  apps/unified/tsconfig.json
  apps/unified/vite.config.ts
  package.json
Due: bunx oxlint --fix, prettier --write

feat(unified): add unified app with landing and components gallery
  apps/unified/README.md
  apps/unified/index.html
  apps/unified/package.json
  apps/unified/src/App.tsx
  apps/unified/src/components/GlassHeader.tsx
  apps/unified/src/main.tsx
  apps/unified/src/pages/Components.tsx
  apps/unified/src/pages/Landing.tsx
  apps/unified/tsconfig.json
  apps/unified/vite.config.ts
  docs/DESIGN_GUIDELINES.md
  libs/components/src/test/test-setup.ts
  package.json
  panda.config.ts
Due: bunx oxlint --fix, prettier --write

performance upgrades
  apps/unified/README.md
  apps/unified/index.html
  apps/unified/package.json
  apps/unified/src/App.tsx
  apps/unified/src/components/ErrorBoundary.tsx
  apps/unified/src/components/SkipToContentLink.tsx
  apps/unified/src/hooks/usePageTitle.ts
  apps/unified/src/pages/Components.tsx
  apps/unified/src/pages/Landing.tsx
  apps/unified/src/pages/NotFound.tsx
  docs/COMPONENT_DESIGN_GUIDE.md
  libs/components/src/components/glass-button/glass-button.test.tsx
  libs/components/src/components/glass-button/glass-button.tsx
  libs/components/src/components/glass-button/index.ts
  libs/components/src/components/glass-card/glass-card.tsx
  libs/components/src/components/glass-card/index.ts
  libs/components/src/components/glass-switch/glass-switch.tsx
  libs/components/src/components/glass-switch/index.ts
Due: bunx oxlint --fix, prettier --write

feat(components): pre-styled components via Panda; Apple-aligned tokens & radii; bundle recipe CSS; add button subpath export; SSR smoke test; multi-entry build
  .nova/Configuration.json
  audits/button-built.html
  audits/button-generated.html
  audits/button-panda.html
  bun.lock
  libs/components/package.json
  libs/components/src/components/button/button.tsx
  libs/components/src/core/utils/classname.ts
  libs/components/src/index.ts
  libs/components/src/lib/variant-system.ts
  libs/components/src/styles/panda.css
  libs/components/src/test/ssr-smoke.test.tsx
  libs/components/vite.config.ts
  liquidify-1.3.7.tgz
  package.json
  panda.config.ts
  styled-system/jsx/factory.js
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
  styled-system/types/composition.d.ts
  styled-system/types/jsx.d.ts
  styled-system/types/prop-type.d.ts
  styled-system/types/style-props.d.ts
Due: bunx oxlint --fix, prettier --write

Path conditions:
  bunx oxlint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
