Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["bunx oxlint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

[CodeFactor] Apply fixes
  libs/components/src/styles/glass-animations.css
  libs/components/src/styles/glass.css
  libs/components/src/styles/minimal-glass.css
Due: none

feat: Complete Tailwind v4 migration with safelist to CSS layer migration
  .qlty/qlty.toml
  biome.json
  bun.lock
  knip.json
  libs/components/src/components/glass-drawer/glass-drawer.stories.tsx
  libs/components/src/components/glass-error-boundary/glass-error-boundary.tsx
  libs/components/src/components/glass-playground/glass-playground.tsx
  libs/components/src/core/accessibility-manager.ts
  libs/components/src/core/business-logic.ts
  libs/components/src/core/types/index.ts
  libs/components/src/lite/core.ts
  libs/components/src/lite/glass-button-lite.tsx
  libs/components/src/lite/glass-card-lite.tsx
  libs/components/src/lite/glass-modal-lite.tsx
  libs/components/src/lite/index.ts
  libs/components/src/types/index.ts
  package.json
  test/utils/test-utils.tsx
Due: bunx oxlint --fix, prettier --write

all cleaning
  biome.json
Due: prettier --write

Remove Nx, simplify monorepo setup and update project configuration
  README.md
  apps/docs/project.json
  apps/storybook/project.json
  libs/components/project.json
  nx.json
  package.json
  vite.config.mjs
  vite.config.mts
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

Add story helpers to simplify Storybook component stories
  libs/components/src/stories/components/glass-banner.stories.tsx
  libs/components/src/stories/utils/storyHelpers.tsx
Due: bunx oxlint --fix, prettier --write

Refactor animation patterns story with shared story helpers
  libs/components/src/stories/design-system/animation-patterns.stories.tsx
Due: bunx oxlint --fix, prettier --write

Refactor GlassTreeView stories using shared story helpers
  libs/components/src/stories/components/glass-tree-view.stories.tsx
Due: bunx oxlint --fix, prettier --write

Refactor glass styles: Move core variables and effects to glass-base.css
  libs/components/src/styles/glass-base.css
  libs/components/src/styles/glass-core.css
Due: none

Refactor glass.css: Import base styles and remove duplicate variables
  libs/components/src/styles/glass.css
Due: none

Update vite.config.ts
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

Fix Vite config path resolution using __dirname and import.meta.url
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

cleanup
  .kniprc.json
  bun.lock
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

Code Suggestion for #114 https://github.com/tuliopc23/LiqUIdify/pull/114
  PROJECT_ARCHITECTURE.md
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/chunk-2KDW5DXF.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/chunk-2KDW5DXF.js.map
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/chunk-WTVQ3SIH.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/chunk-WTVQ3SIH.js.map
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/package.json
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___@vue_devtools-api.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___@vue_devtools-api.js.map
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___@vueuse_core.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___@vueuse_core.js.map
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___@vueuse_integrations_useFocusTrap.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___@vueuse_integrations_useFocusTrap.js.map
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___mark__js_src_vanilla__js.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___mark__js_src_vanilla__js.js.map
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___minisearch.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vitepress___minisearch.js.map
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vue.js
  apps/docs/.vitepress/cache/deps_temp_0c4f8f9c/vue.js.map
  apps/docs/.vitepress/config.ts
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  bun.lock
  libs/components/src/hooks/index.ts
  libs/components/src/hooks/use-haptic-feedback.tsx
  libs/components/src/hooks/use-toast.ts
  libs/components/src/index.ts
  libs/components/src/providers/ssr-config-provider.tsx
  libs/components/src/types/index.ts
  libs/components/src/utils/index.ts
  package.json
Due: bunx oxlint --fix, prettier --write

index refactoring
  libs/components/src/components/glass-avatar/index.ts
Due: bunx oxlint --fix, prettier --write

feat: complete production launch preparation for v1.3.0
  libs/components/src/components/glass-button-refactored/glass-button.test.tsx
  libs/components/src/components/glass-card-refactored/index.ts
  libs/components/src/test/integration-tests/accessibility-compliance.test.tsx
  libs/components/src/test/setup.ts
  libs/components/src/utils/safe-dom.ts
  package.json
  reports/bundle/bundle-analysis.html
  reports/bundle/bundle-analysis.json
  reports/bundle/bundle-analysis.md
  reports/bundle/stats.html
Due: bunx oxlint --fix, prettier --write

chore: update bun.lock after dependency changes
  bun.lock
Due: none

fix: resolve CI failures - test setup conflicts and TypeScript errors
  libs/components/src/components/glass-button-refactored/glass-button.test.tsx
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-card-refactored/glass-card.tsx
  libs/components/src/test/setup.ts
Due: bunx oxlint --fix, prettier --write
