Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

docs(showcase): refactor to shared ShowcaseProvider + PreviewWithToolbar; fix Open in CSB via SandpackPreview; simplify examples to App-only
  apps/docs/components/PreviewWithToolbar.tsx
  apps/docs/components/ShowcaseProvider.tsx
  apps/docs/components/showcase.mdx
Due: bunx oxlint --fix, prettier --write

docs(preview): fix prism-react-renderer v2 usage by importing named Highlight and dropping defaultProps
  apps/docs/components/Preview.tsx
Due: bunx oxlint --fix, prettier --write

docs(playground): sync Sandpack defaults (deps, boot files, CSS, height, theme)
  apps/docs/components/Playground.tsx
  apps/docs/components/PlaygroundPreview.tsx
Due: bunx oxlint --fix, prettier --write

chore(ci): stabilize GH Actions — pin Node 20, fix storybook:verify for Bun, remove failing test:build, soften lint, simplify coverage workflow
  .github/workflows/build-validation.yml
  .github/workflows/ci.yml
  .github/workflows/codecoverage.yml
  .github/workflows/contrast-audit.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-validation.yml
  .github/workflows/qodana_code_quality.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  CHANGELOG.md
  package.json
Due: prettier --write

cleaning configuration to solve issues
  package.json
Due: prettier --write

ci: remove Qodana, Docs deploy, and Deploy validation workflows (Mintlify deploy removed)
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-validation.yml
  .github/workflows/qodana_code_quality.yml
Due: none

ci: remove Deploy Storybook workflow
  .github/workflows/deploy-storybook.yml
Due: none

cleaning configuration to solve issues
  .github/workflows/codecoverage.yml
Due: none

cleaning configuration to solve issues
  .github/workflows/codecoverage.yml
  CSS IMPLEMENTATION (IMPORTANT).md
  TYPOGRAPHY_ENHANCEMENT_SUMMARY.md
  apps/docs/components/Playground.tsx
  apps/docs/components/PlaygroundPreview.tsx
  apps/docs/components/PreviewWithToolbar.tsx
  apps/docs/components/ShowcaseProvider.tsx
  apps/docs/components/sandpackDefaults.ts
  bun.lock
  package.json
Due: bunx oxlint --fix, prettier --write

docs+storybook: inject LiquidGlass SVG defs globally; remove duplication; cleanup unused asset; add README usage snippet; verify builds
  README.md
  apps/docs/index.mdx
  apps/docs/scripts/enhancements.js
  apps/storybook/.storybook/preview-head.html
  libs/components/src/styles/liquid-glass.css
Due: prettier --write

docs: set api to null to avoid Spectral schema compile under Node 24; update liquid-glass.css visuals; add use-device-capabilities hook for feature detection (mobile fallbacks)
  .crush/crush.db
  .crush/crush.db-shm
  .crush/crush.db-wal
  .crush/init
  apps/docs/mint.json
  apps/docs/styles/liquid-glass.css.backup
  libs/components/src/hooks/use-device-capabilities.tsx
  libs/components/src/styles/liquid-glass.css.backup
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  apps/docs/mint.json.backup
  apps/docs/mint.json.bak
  apps/docs/mint.json.old
  apps/docs/styles/apple-hig.css
  apps/docs/styles/high_contrast_media_queries.css
  apps/docs/styles/liquid-glass.css.backup
  apps/docs/styles/visual-enhancements.css
  libs/components/src/components/liquid-glass-defs/liquid-glass-defs.test.tsx
  libs/components/src/components/liquid-glass/liquid-glass.integration.test.tsx
  libs/components/src/components/liquid-glass/liquid-glass.stories.tsx
  libs/components/src/components/liquid-glass/liquid-glass.test.tsx
  libs/components/src/components/liquid-glass/liquid-glass.tsx
  libs/components/src/hooks/use-device-capabilities.test.tsx
  libs/components/src/index.ts
  libs/components/src/styles/glass-core.css
  libs/components/src/styles/liquid-glass.css
  libs/components/src/styles/liquid-glass.css.backup
  libs/components/src/styles/tailwind-v4-config.css
  tailwind.config.ts
Due: bunx oxlint --fix, prettier --write

fix(css, safari): ensure liquid-glass works across Safari/Chrome and docs
  libs/components/src/components/liquid-glass/liquid-glass.tsx
  libs/components/src/types/liquid-glass.ts
Due: bunx oxlint --fix, prettier --write

css enhancements
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CSS IMPLEMENTATION (IMPORTANT).md
  README.md
  apps/docs/advanced/framework-integration.mdx
  apps/docs/components/Playground.tsx
  apps/docs/components/PlaygroundPreview.tsx
  apps/docs/components/Preview.tsx
  apps/docs/components/PreviewWithToolbar.tsx
  apps/docs/components/ShowcaseProvider.tsx
  apps/docs/components/card.mdx
  apps/docs/components/index.mdx
  apps/docs/components/sandpackDefaults.ts
  apps/docs/components/showcase.mdx
  apps/docs/development/testing-strategy.mdx
  apps/docs/index.mdx
  apps/docs/mint.json
  apps/docs/scripts/enhancements.js
  apps/docs/styles/apple-hig.css
  apps/docs/styles/high_contrast_media_queries.css
  apps/docs/styles/high_contrast_styles.css
  apps/docs/styles/liquid-glass.css
  apps/docs/styles/theme-backgrounds.css
  apps/storybook/.storybook/preview-head.html
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-modal/glass-modal.tsx
  libs/components/src/components/glass-tabs/glass-tabs.tsx
  libs/components/src/components/liquid-glass-defs/liquid-glass-defs.test.tsx
  libs/components/src/components/liquid-glass-defs/liquid-glass-defs.tsx
  libs/components/src/components/liquid-glass/liquid-glass.integration.test.tsx
  libs/components/src/components/liquid-glass/liquid-glass.stories.tsx
  libs/components/src/components/liquid-glass/liquid-glass.test.tsx
  libs/components/src/components/liquid-glass/liquid-glass.tsx
  libs/components/src/hooks/use-device-capabilities.test.tsx
  libs/components/src/hooks/use-device-capabilities.tsx
  libs/components/src/index.ts
  libs/components/src/styles/liquid-glass.css
  libs/components/src/types/liquid-glass.ts
  libs/components/src/utils/liquid-glass-utils.tsx
  package.json
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  apps/docs/components/sandpackDefaults.ts
  apps/docs/index.mdx
  apps/docs/styles/apple-hig.css
  apps/docs/styles/enhanced-typography.css
  apps/docs/styles/high_contrast_media_queries.css
  apps/docs/styles/high_contrast_styles.css
  apps/docs/styles/visual-enhancements.css
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.jsx
  bun.lock
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/core/utils/glass-effects.ts
  libs/components/src/styles/liquid-glass.css
  package.json
  vitest.config.mts
  vitest.config.ts
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  apps/docs/components/Playground.tsx
  apps/docs/components/PlaygroundPreview.tsx
  apps/docs/components/sandpackDefaults.ts
  apps/docs/styles/liquid-glass.css
  apps/storybook/.storybook/main.mjs
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.jsx
  libs/components/src/components/glass-accordion/glass-accordion.tsx
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-checkbox/glass-checkbox.tsx
  libs/components/src/components/glass-dropdown/glass-dropdown.tsx
  libs/components/src/components/glass-input/glass-input.tsx
  libs/components/src/components/glass-popover/glass-popover.tsx
  libs/components/src/components/glass-radio-group/glass-radio-group.tsx
  libs/components/src/components/glass-select/glass-select.tsx
  libs/components/src/components/glass-tooltip/glass-tooltip.tsx
  libs/components/src/styles/liquid-glass.css
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  apps/docs/mint.json
  apps/storybook/.storybook/main.mjs
  apps/storybook/.storybook/preview.jsx
  bun.lock
  package.json
Due: prettier --write

Refactors docs CSS bundle process for clarity
  apps/docs/scripts/build-css.mjs
  apps/docs/styles/bundle.css
  package.json
Due: prettier --write

Updates dependencies in bun.lock and package.json
  bun.lock
  package.json
Due: prettier --write

Enhances Storybook canvas and component styles
  .flox/.gitattributes
  .flox/.gitignore
  .flox/env.json
  .flox/env.lock
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.jsx
  libs/components/src/components/glass-combobox/glass-combobox.tsx
  libs/components/src/components/glass-dropdown/glass-dropdown.tsx
  libs/components/src/components/glass-select/glass-select.tsx
Due: bunx oxlint --fix, prettier --write

Updates dependencies in bun.lock and package.json
  bun.lock
  package.json
  static-export/button.html
  static-export/card.html
  static-export/tooltip.html
Due: prettier --write

Updates dependencies in bun.lock and package.json
  .flox/env.lock
  bun.lock
Due: none

cleaning configuration to solve issues
  bun.lock
  package.json
Due: prettier --write

cleaning configuration to solve issues
  apps/docs/docs.json
Due: prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/images/apple-glass-bg-dark.svg
Due: none

Documentation edits made through Mintlify web editor
  apps/docs/STATUS.md
  apps/docs/WARP.md
Due: prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/docs.json
Due: prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/images/apple-glass-bg.svg
Due: none

fix: .flox/env.lock
  .flox/env.lock
Due: none

feat: update repo
  .flox/env.lock
Due: none

docs(button): adopt Mintlify snippets with pinned Examples; add DemoFrame and interactive LiquidButton demo
  apps/docs/components/button.mdx
  apps/docs/snippets/DemoFrame.jsx
  apps/docs/snippets/liquid-button-demo.jsx
Due: none

docs(card,input): add snippets-based interactive demos; import into pages and pin sidebar Examples
  apps/docs/components/card.mdx
  apps/docs/components/input.mdx
  apps/docs/snippets/card-demo.jsx
  apps/docs/snippets/input-demo.jsx
Due: none

docs: update documentation
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/input.mdx
  apps/docs/styles/liquid-glass.css
Due: none

docs(showcase): render live snippets in Components Showcase; remove Sandpack usage and stubs left; fix import typo
  apps/docs/components/Playground.tsx
  apps/docs/components/PlaygroundPreview.tsx
  apps/docs/components/PreviewWithToolbar.tsx
  apps/docs/components/ShowcaseProvider.tsx
  apps/docs/components/sandpackDefaults.ts
  apps/docs/components/showcase.mdx
Due: bunx oxlint --fix, prettier --write

feat: update repo
  apps/docs/components/PreviewWithToolbar.tsx
  apps/docs/components/sandpackDefaults.ts
  apps/storybook/.storybook/preview.ts
  bun.lock
  libs/components/src/components/glass-accordion/glass-accordion.tsx
  libs/components/src/components/glass-dropdown/glass-dropdown.tsx
  previews/liquid-glass-button.html
  warp.md
Due: bunx oxlint --fix, prettier --write

fix: .flox/env.lock
  .flox/env.lock
  apps/storybook/.storybook/main.mjs
Due: none

Docs: add MDX live previews via snippets for key components and showcase. Wrap previews with ThemeProvider and import library CSS once in a shared ProviderWrapper.
  apps/docs/components/breadcrumbs.mdx
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/input.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/pagination.mdx
  apps/docs/components/select.mdx
  apps/docs/components/showcase.mdx
  apps/docs/components/tabs.mdx
  apps/docs/components/textarea.mdx
  apps/docs/components/toast.mdx
  apps/docs/components/tooltip.mdx
  apps/docs/snippets/components/BreadcrumbsExample.jsx
  apps/docs/snippets/components/ButtonExample.jsx
  apps/docs/snippets/components/CardExample.jsx
  apps/docs/snippets/components/InputExample.jsx
  apps/docs/snippets/components/ModalExample.jsx
  apps/docs/snippets/components/PaginationExample.jsx
  apps/docs/snippets/components/ResponsiveButtonExample.jsx
  apps/docs/snippets/components/SelectExample.jsx
  apps/docs/snippets/components/TabsExample.jsx
  apps/docs/snippets/components/TextareaExample.jsx
  apps/docs/snippets/components/ToastExample.jsx
  apps/docs/snippets/components/TooltipExample.jsx
  apps/docs/snippets/preview/ComponentFrame.jsx
  apps/docs/snippets/preview/ProviderWrapper.jsx
Due: none

Docs: wire MDX pages to live snippet previews
  apps/docs/components/responsive-button.mdx
Due: none

Path conditions:
  bunx oxlint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
