Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

Fix Storybook import paths to resolve Vercel deployment failure
  apps/storybook/.storybook/preview.ts
  libs/components/src/stories/design-system/animation-patterns.stories.tsx
  libs/components/src/stories/design-system/theme-showcase.stories.tsx
Due: bunx oxlint --fix, prettier --write

Fix Vercel deployment configuration
  .vercelignore
  vercel.json
Due: prettier --write

Fix Nx build configuration issues
  libs/components/project.json
  libs/components/vite.config.ts
  scripts/build-css-lightning.ts
Due: bunx oxlint --fix, prettier --write

Update scripts/build-css-lightning.ts
  scripts/build-css-lightning.ts
Due: bunx oxlint --fix, prettier --write

Fix path resolution in CSS build script
  scripts/build-css-lightning.ts
Due: bunx oxlint --fix, prettier --write

Fix TypeScript error in CSS build script
  scripts/build-css-lightning.ts
Due: bunx oxlint --fix, prettier --write

fix: update build command to use tsx and add new dependencies for postcss
  docs/NX_INTEGRATION_PLAN.md
  libs/components/project.json
  package.json
Due: prettier --write

feat: update vercel.json to deploy component library with Bun
  .vercelignore
  vercel.json
Due: prettier --write

fix: revert to Storybook deployment with Bun improvements
  .vercelignore
  vercel.json
Due: prettier --write

fix: resolve ES module issue in CSS build script
  scripts/build-css-lightning.ts
Due: bunx oxlint --fix, prettier --write

fix: resolve ES module __dirname issue and update vercel.json configuration
  scripts/build-css-lightning.ts
  vercel.json
Due: bunx oxlint --fix, prettier --write

fix: revert framework to null for Storybook auto-detection
  vercel.json
Due: prettier --write

Fix Vercel deployment configuration
  .vercelignore
  bun.lock
  package.json
  vercel.json
Due: prettier --write

Committing all changes
  libs/components/src/components/apple-liquid-glass/index.tsx
  libs/components/src/components/component-showcase/component-showcase.tsx
  libs/components/src/components/glass-drawer/glass-drawer.tsx
  libs/components/src/components/glass-focus-trap/glass-focus-trap.tsx
  libs/components/src/components/glass-playground/glass-playground.tsx
  libs/components/src/components/glass-slider/glass-slider.tsx
  libs/components/src/core/error-tracking/error-analytics-dashboard.tsx
  libs/components/src/core/error-tracking/sentry-integration.tsx
  libs/components/src/core/patterns/index.ts
  libs/components/src/core/patterns/index.tsx
  libs/components/src/core/ssr-safety.tsx
  libs/components/src/hooks/use-ssr-safe.tsx
  libs/components/src/lib/framer-motion-animations.ts
  libs/components/src/lib/glass-performance.ts
  libs/components/src/lib/glass-physics-engine.ts
  libs/components/src/lib/performance-monitor.ts
  libs/components/src/providers/enhanced-ssr-provider.tsx
  libs/components/src/providers/glass-performance-provider.tsx
  libs/components/src/stories/templates/story-template.tsx
  libs/components/src/tokens/design-tokens.ts
  scripts/analyze-ts-issues.ts
  scripts/fix-all-ts-issues.ts
  scripts/fix-any-types.ts
  scripts/fix-missing-types.ts
  scripts/post-build.ts
Due: bunx oxlint --fix, prettier --write

Refactors and improves code quality
  biome.json
  cleanup-fix-scripts.ts
  libs/components/src/core/utils/color.ts
  libs/components/src/hooks/use-haptic-feedback.tsx
  libs/components/src/hooks/use-liquid-glass.tsx
  libs/components/src/hooks/use-ssr-animation.ts
  libs/components/src/hooks/use-ssr-safe-hooks.ts
  libs/components/src/hooks/use-ssr-safe.ts
  libs/components/src/hooks/use-ssr-safe.tsx
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/lib/glass-animations.ts
  libs/components/src/lib/glass-physics.ts
  libs/components/src/lib/variant-system.ts
  libs/components/src/providers/enhanced-ssr-provider.tsx
  libs/components/src/providers/global-config-provider.tsx
  libs/components/src/providers/ssr-config-provider.tsx
  libs/components/src/types/branded.ts
  libs/components/src/types/index.ts
  libs/components/src/utils/dev-logger.ts
  libs/components/src/utils/graceful-degradation.ts
  libs/components/src/utils/hydration-utils.tsx
  libs/components/tsconfig.lib.json
Due: bunx oxlint --fix, prettier --write

Refactor and optimize performance benchmarking and component code
  libs/components/src/components/glass-playground/glass-playground.tsx
  libs/components/src/components/glass-tree-view/glass-tree-view.tsx
  libs/components/src/core/performance/performance-benchmarks.ts
  libs/components/src/hooks/use-toast.ts
  package-lock.json
Due: bunx oxlint --fix, prettier --write

cleanup
  .claude/settings.local.json
  .config/fish/config.fish
  .cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  .dccache
  .plandex-v2/projects-v2.json
  .run/Template Bun.run.xml
  .run/Template TypeScript.run.xml
  .run/Template Vitest.run.xml
  CLAUDE.md
  cleanup-fix-scripts.ts
  final-targeted-fixes.ts
  fix-all-parsing-errors.ts
  fix-anchor-href.ts
  fix-button-types.ts
  fix-component-showcase.ts
  fix-critical-linting-issues.ts
  fix-critical-remaining-issues.ts
  fix-glass-accessible-demo.ts
  fix-label-control-association.ts
  fix-malformed-onclick.ts
  fix-malformed-syntax.ts
  fix-parsing-errors-final.ts
  fix-parsing-errors-phase2.ts
  fix-parsing-errors.ts
  fix-remaining-parsing-errors-comprehensive.ts
  fix-remaining-parsing-errors.ts
  fix-semantic-elements.ts
  fix-svg-accessibility.ts
  fix-unused-variables.ts
  revert-array-type-changes.ts
  revert-problematic-fixes.ts
  scripts/analyze-ts-issues.ts
  scripts/fix-all-ts-issues.ts
  scripts/fix-any-types.ts
  scripts/fix-missing-types.ts
Due: bunx oxlint --fix, prettier --write

cleanup
  .claude/settings.local.json
  .config/fish/config.fish
  .cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  .dccache
  .plandex-v2/projects-v2.json
  .run/Template Bun.run.xml
  .run/Template TypeScript.run.xml
  .run/Template Vitest.run.xml
  CLAUDE.md
  cleanup-fix-scripts.ts
  final-targeted-fixes.ts
  fix-all-parsing-errors.ts
  fix-anchor-href.ts
  fix-button-types.ts
  fix-component-showcase.ts
  fix-critical-linting-issues.ts
  fix-critical-remaining-issues.ts
  fix-glass-accessible-demo.ts
  fix-label-control-association.ts
  fix-malformed-onclick.ts
  fix-malformed-syntax.ts
  fix-parsing-errors-final.ts
  fix-parsing-errors-phase2.ts
  fix-parsing-errors.ts
  fix-remaining-parsing-errors-comprehensive.ts
  fix-remaining-parsing-errors.ts
  fix-semantic-elements.ts
  fix-svg-accessibility.ts
  fix-unused-variables.ts
  libs/components/src/core/error-recovery.tsx
  libs/components/src/core/error-tracking/error-analytics-dashboard.tsx
  libs/components/src/core/error-tracking/sentry-integration.tsx
  revert-array-type-changes.ts
  revert-problematic-fixes.ts
  scripts/analyze-ts-issues.ts
  scripts/fix-all-ts-issues.ts
  scripts/fix-any-types.ts
  scripts/fix-missing-types.ts
Due: bunx oxlint --fix, prettier --write

Replace innerHTML with textContent in Storybook preview style injection
  apps/storybook/.storybook/preview.ts
Due: bunx oxlint --fix, prettier --write

Fix: Replace any types with proper TypeScript types
  libs/components/src/components/glass-performance-dashboard/glass-performance-dashboard.tsx
  libs/components/src/core/accessibility-manager.ts
  libs/components/src/core/patterns/index.ts
  libs/components/src/core/types/index.ts
  libs/components/src/core/utils/validation.ts
  libs/components/src/hooks/use-ssr-safe-hooks.ts
  libs/components/src/lib/performance-monitor.ts
  libs/components/src/providers/enhanced-ssr-provider.tsx
Due: bunx oxlint --fix, prettier --write

Update libs/components/src/core/utils/validation.ts
  libs/components/src/core/utils/validation.ts
Due: bunx oxlint --fix, prettier --write

cleanup
  scripts/build-css-lightning.ts
Due: bunx oxlint --fix, prettier --write

[CodeFactor] Apply fixes
  libs/components/src/styles/glass-animations.css
  libs/components/src/styles/glass.css
  libs/components/src/styles/minimal-glass.css
Due: none

Path conditions:
  bunx oxlint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
