Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["bunx oxlint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

fix: .flox/env.lock
  bun.lock
  package.json
Due: prettier --write

mintlify snippets
  apps/docs/docs.json
  apps/docs/snippets/components/BreadcrumbsExample.jsx
  apps/docs/snippets/components/ButtonExample.jsx
  apps/docs/snippets/components/CardExample.jsx
  apps/docs/snippets/components/InputExample.jsx
  apps/docs/snippets/components/ModalExample.jsx
  apps/docs/snippets/components/PaginationExample.jsx
  apps/docs/snippets/components/ResponsiveButtonExample.jsx
  apps/docs/snippets/components/SelectExample.jsx
  apps/docs/snippets/components/TabsExample.jsx
  apps/docs/snippets/components/TextareaExample.jsx
  apps/docs/snippets/components/ToastExample.jsx
  apps/docs/snippets/components/TooltipExample.jsx
  apps/docs/snippets/preview/ComponentFrame.jsx
Due: prettier --write

mintlify snippets
  bun.lock
  package.json
  vitest.config.mts
Due: prettier --write

docs: wire MDX pages to new snippets and finalize showcase imports
  .flox/env.lock
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/input.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/pagination.mdx
  apps/docs/components/responsive-button.mdx
  apps/docs/components/showcase.mdx
  apps/docs/components/tabs.mdx
  apps/docs/components/textarea.mdx
  apps/docs/components/toast.mdx
  bun.lock
Due: none

docs: add Mintlify snippets live previews and wire Components pages
  snippets/components/ButtonExample.jsx
  snippets/components/CardExample.jsx
  snippets/components/InputExample.jsx
  snippets/components/ModalExample.jsx
  snippets/components/ResponsiveButtonExample.jsx
  snippets/components/SelectExample.jsx
  snippets/components/TabsExample.jsx
  snippets/components/TextareaExample.jsx
  snippets/components/ToastExample.jsx
  snippets/components/TooltipExample.jsx
  snippets/preview/ComponentFrame.jsx
  snippets/preview/ProviderWrapper.jsx
Due: none

docs(showcase): present components sequentially (description → preview → usage) instead of grid to match style guide
  apps/docs/components/showcase.mdx
Due: none

docs(snippets): add Breadcrumbs and Pagination live preview components and wire existing MDX imports
  snippets/components/BreadcrumbsExample.jsx
  snippets/components/PaginationExample.jsx
Due: none

docs(snippets): add Breadcrumbs and Pagination live preview components and wire existing MDX imports
  .gitignore
  snippets/components/BreadcrumbsExample.jsx
  snippets/components/PaginationExample.jsx
Due: none

fix: .flox/env.lock
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/index.mdx
  apps/docs/components/input.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/pagination.mdx
  apps/docs/components/showcase.mdx
  apps/docs/components/textarea.mdx
  apps/docs/index.mdx
  apps/docs/snippets/components/BreadcrumbsExample.jsx
  apps/docs/snippets/components/ButtonExample.jsx
  apps/docs/snippets/components/CardExample.jsx
  apps/docs/snippets/components/InputExample.jsx
  apps/docs/snippets/components/ModalExample.jsx
  apps/docs/snippets/components/PaginationExample.jsx
  apps/docs/snippets/components/ResponsiveButtonExample.jsx
  apps/docs/snippets/components/SelectExample.jsx
  apps/docs/snippets/components/TabsExample.jsx
  apps/docs/snippets/components/TextareaExample.jsx
  apps/docs/snippets/components/ToastExample.jsx
  apps/docs/snippets/components/TooltipExample.jsx
  apps/docs/snippets/input-demo.jsx
  apps/docs/snippets/liquid-button-demo.jsx
  apps/docs/snippets/liquidify-styles.js
  apps/docs/snippets/liquidify.js
  apps/docs/snippets/preview/ComponentFrame.jsx
  apps/docs/snippets/preview/ProviderWrapper.jsx
  apps/docs/snippets/react.js
Due: none

fix: .flox/env.lock
  apps/docs/snippets/DemoFrame.jsx
  apps/docs/snippets/card-demo.jsx
  apps/docs/snippets/components/BreadcrumbsExample.jsx
  apps/docs/snippets/components/ButtonExample.jsx
  apps/docs/snippets/components/CardExample.jsx
  apps/docs/snippets/components/InputExample.jsx
  apps/docs/snippets/components/ModalExample.jsx
  apps/docs/snippets/components/PaginationExample.jsx
  apps/docs/snippets/components/ResponsiveButtonExample.jsx
  apps/docs/snippets/components/SelectExample.jsx
  apps/docs/snippets/components/TabsExample.jsx
  apps/docs/snippets/components/TextareaExample.jsx
  apps/docs/snippets/components/ToastExample.jsx
  apps/docs/snippets/components/TooltipExample.jsx
  apps/docs/snippets/input-demo.jsx
  apps/docs/snippets/liquid-button-demo.jsx
  apps/docs/snippets/liquidify-styles.js
  apps/docs/snippets/liquidify.js
  apps/docs/snippets/preview/ComponentFrame.jsx
  apps/docs/snippets/preview/ProviderWrapper.jsx
  apps/docs/snippets/react.js
Due: none

style(docs): apply Liquid Glass system across Mintlify UI
  apps/docs/components/accordion.mdx
  apps/docs/components/alert.mdx
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/index.mdx
  apps/docs/components/input.mdx
  apps/docs/mint.json
  apps/docs/scripts/inject-static-previews.mjs
  apps/docs/styles/bundle.css
  apps/docs/styles/mintlify-overrides.css
  previews/accordion.html
  previews/alert.html
  previews/card.html
  previews/input.html
Due: prettier --write

chore(docs): configure Mintlify to load bundle.css via docs.json
  apps/docs/docs.json
  apps/docs/styles/bundle.css
Due: prettier --write

style(docs): unify light/dark color tokens and typography
  apps/docs/styles/bundle.css
  apps/docs/styles/custom.css
  apps/docs/styles/mintlify-overrides.css
  apps/docs/styles/mintlify-typography.css
Due: none

chore(docs): add static previews wiring for form controls
  apps/docs/components/checkbox-group.mdx
  apps/docs/components/combobox.mdx
  apps/docs/components/index.mdx
  apps/docs/components/number-input.mdx
  apps/docs/components/radio-group.mdx
  apps/docs/components/select.mdx
  apps/docs/components/switch.mdx
  apps/docs/components/textarea.mdx
  previews/checkbox-group.html
  previews/checkbox.html
  previews/combobox.html
  previews/number-input.html
  previews/radio-group.html
  previews/select.html
  previews/switch.html
  previews/textarea.html
Due: none

css implementation
  LiqUIdift
  apps/docs/mint.json
Due: prettier --write

css implementation
  apps/docs/components/accordion.mdx
  apps/docs/components/alert.mdx
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/checkbox-group.mdx
  apps/docs/components/checkbox.mdx
  apps/docs/components/combobox.mdx
  apps/docs/components/index.mdx
  apps/docs/components/input.mdx
  apps/docs/components/number-input.mdx
  apps/docs/components/radio-group.mdx
  apps/docs/components/select.mdx
  apps/docs/components/switch.mdx
  apps/docs/components/textarea.mdx
  apps/docs/docs.json
  apps/docs/index.mdx
  apps/docs/styles/bundle.css
  apps/docs/styles/custom.css
  apps/docs/styles/mintlify-overrides.css
  apps/docs/styles/mintlify-typography.css
  previews/checkbox.html
Due: prettier --write

css implementation
  apps/docs/components/accordion.mdx
  apps/docs/components/alert.mdx
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/checkbox-group.mdx
  apps/docs/components/checkbox.mdx
  apps/docs/components/combobox.mdx
  apps/docs/components/index.mdx
  apps/docs/components/input.mdx
  apps/docs/components/number-input.mdx
  apps/docs/components/radio-group.mdx
  apps/docs/components/select.mdx
  apps/docs/components/switch.mdx
  apps/docs/components/textarea.mdx
  apps/docs/docs.json
  apps/docs/favicon.svg
  apps/docs/index.mdx
  apps/docs/logo-dark.svg
  apps/docs/logo-light.svg
  apps/docs/styles/bundle.css
  apps/docs/styles/custom.css
  apps/docs/styles/mintlify-overrides.css
  apps/docs/styles/mintlify-typography.css
  previews/checkbox.html
Due: prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/components/accordion.mdx
  apps/docs/components/button.mdx
Due: none

Documentation edits made through Mintlify web editor
  apps/docs/components/accordion.mdx
  apps/docs/components/alert.mdx
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/checkbox-group.mdx
  apps/docs/components/checkbox.mdx
  apps/docs/components/combobox.mdx
  apps/docs/components/index.mdx
  apps/docs/components/input.mdx
  apps/docs/components/number-input.mdx
  apps/docs/components/pagination.mdx
  apps/docs/components/select.mdx
  apps/docs/components/skeleton.mdx
  apps/docs/components/switch.mdx
  apps/docs/components/textarea.mdx
Due: none

Documentation edits made through Mintlify web editor
  apps/docs/components/tree-view.mdx
  apps/docs/docs.json
  apps/docs/quickstart.md
  apps/docs/styleguides.mdx
  apps/docs/typography-showcase.mdx
Due: prettier --write

docs(snippets): add JSX snippets under /snippets/components for live examples (Mintlify reusable snippets)
  apps/docs/.crush/crush.db
  apps/docs/.crush/crush.db-shm
  apps/docs/.crush/crush.db-wal
  apps/docs/.crush/init
  apps/docs/snippets/components/BreadcrumbsExample.jsx
  apps/docs/snippets/components/ButtonExample.jsx
  apps/docs/snippets/components/CardExample.jsx
  apps/docs/snippets/components/InputExample.jsx
  apps/docs/snippets/components/ModalExample.jsx
  apps/docs/snippets/components/ResponsiveButtonExample.jsx
  apps/docs/snippets/components/TabsExample.jsx
  apps/docs/snippets/components/ToastExample.jsx
  apps/docs/snippets/components/TooltipExample.jsx
Due: none

css implementation
  apps/docs/components/tree-view.mdx
  apps/docs/snippets/components/BreadcrumbsExample.jsx
  apps/docs/snippets/components/ButtonExample.jsx
  apps/docs/snippets/components/CardExample.jsx
  apps/docs/snippets/components/InputExample.jsx
  apps/docs/snippets/components/ModalExample.jsx
  apps/docs/snippets/components/ResponsiveButtonExample.jsx
  apps/docs/snippets/components/TabsExample.jsx
  apps/docs/snippets/components/ToastExample.jsx
  apps/docs/snippets/components/TooltipExample.jsx
  apps/docs/styles/bundle.css
Due: none

css implementation
  .flox/env.lock
  apps/docs/components/radio-group.mdx
  apps/docs/snippets/components/ResponsiveButtonExample.jsx
  apps/docs/snippets/components/glass-responsive-button.tsx
  apps/docs/styles/bundle.css
  vitest.config.mts
Due: bunx oxlint --fix, prettier --write

css implementation
  .flox/env.lock
  apps/docs/docs.json
Due: prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/components/badge.mdx
  apps/docs/components/banner.mdx
Due: none

Reset Mintlify documentation styling to clean mint theme
  apps/docs/docs.json
  apps/docs/public/favicon.svg
  apps/docs/public/logo-dark.svg
  apps/docs/public/logo-light.svg
  apps/docs/styles/simple.css
Due: prettier --write

Refactor liquid-glass implementation
  libs/components/src/components/liquid-glass/liquid-glass.tsx
  libs/components/src/hooks/use-device-capabilities.tsx
  libs/components/src/index.ts
  libs/components/src/utils/liquid-glass-classes.ts
Due: bunx oxlint --fix, prettier --write

docs: update documentation
  .crush/crush.db
  .crush/crush.db-shm
  .crush/crush.db-wal
  .crush/init
  CLAUDE.md
  CSS IMPLEMENTATION (IMPORTANT).md
  DOCUMENTATION_REORGANIZATION.md
  DOCUMENTATION_STRUCTURE_ANALYSIS.md
  PARSING_ERRORS_FIX_SUMMARY.md
  apps/docs/.crush/crush.db
  apps/docs/.crush/crush.db-shm
  apps/docs/.crush/crush.db-wal
  apps/docs/.crush/init
  apps/docs/components/banner.mdx
  apps/docs/components/dropdown.mdx
  apps/docs/components/liquid-glass.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/navbar.mdx
  apps/docs/components/responsive-button.mdx
  apps/docs/components/showcase.mdx
  apps/docs/components/tabs.mdx
  apps/docs/components/toast.mdx
  apps/docs/development/onboarding.mdx
  apps/docs/docs-test.json
  apps/docs/docs.json
  apps/docs/faq.mdx
  apps/docs/getting-started/Installation.mdx
  apps/docs/getting-started/quickstart.mdx
  apps/docs/index.mdx
  apps/docs/integrations/storybook.mdx
  apps/docs/migrate/from-previous.mdx
  apps/docs/styles/apple-components.css
  apps/docs/styles/apple-developer-theme.css
  apps/docs/styles/bundle.css
  bun.lock
  libs/components/src/index.ts
  package.json
  warp.md
Due: bunx oxlint --fix, prettier --write

docs: update documentation
  apps/docs/docs.json
  apps/docs/styles/apple-components.css
  apps/docs/styles/apple-developer-theme.css
  apps/docs/styles/apple-developer.css
  apps/docs/styles/bundle.css
  apps/docs/styles/custom.css
  apps/docs/styles/enhanced-typography.css
  apps/docs/styles/liquid-glass.css
  apps/docs/styles/mintlify-overrides.css
  apps/docs/styles/mintlify-typography.css
  apps/docs/styles/simple.css
  apps/docs/styles/theme-backgrounds.css
  apps/docs/styles/visual-enhancements.css
Due: prettier --write

docs: update documentation
  apps/docs/docs.json
  apps/docs/styles/apple-developer.css
Due: prettier --write

chore(storybook,ts): include root ts-reset types for Storybook
  DEVELOPMENT.md
  WORKSPACE_SETUP.md
  apps/docs/docs-test.json
  apps/docs/package.json
  apps/storybook/package.json
  apps/storybook/tsconfig.json
  bun.lock
  libs/components/package.json
  libs/components/src/hooks/use-device-capabilities.tsx
  liquidify.code-workspace
  package.json
  reset.d.ts
Due: bunx oxlint --fix, prettier --write

Improves documentation and development setup
  CLAUDE.md
  DEVELOPMENT.md
  WORKSPACE_SETUP.md
  apps/docs/components/badge.mdx
  apps/docs/components/banner.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/radio-group.mdx
  apps/docs/components/responsive-button.mdx
  apps/docs/components/tabs.mdx
  apps/docs/components/toast.mdx
  apps/docs/docs.json
  apps/docs/styles/apple-developer.css
  apps/docs/styles/bundle.css
  apps/storybook/tsconfig.json
  libs/components/src/hooks/use-device-capabilities.tsx
  libs/components/src/hooks/use-ssr-safe.ts
  libs/components/src/lib/variant-system.ts
  libs/components/src/utils/liquid-glass-classes.ts
  package.json
Due: bunx oxlint --fix, prettier --write

final enhancements
  DEPLOYMENT.md
  DOMAIN_SETUP.md
  LiqUIdift
  SETUP_CHECKLIST.md
  apps/docs/component-preview.js
  apps/docs/components/glass-button.mdx
  apps/docs/components/liquid-glass-reference.mdx
  apps/docs/docs.json
  apps/docs/liquid-glass-components.css
  apps/docs/package.json
  apps/docs/snippets/component-template.mdx
  apps/docs/styles/bundle.css
  apps/storybook/.storybook/preview.ts
  apps/storybook/deploy.sh
  apps/storybook/vercel.json
  build-report.json
  bun.lock
  libs/components/src/stories/design-system/glassmorphism-showcase.stories.tsx
  libs/components/src/styles/index.css
  libs/components/src/styles/liquid-glass-system.css
  package.json
  tailwind.config.js
  tailwind.config.ts
  tsconfig.tsbuildinfo
  vercel.json
  vitest.config.mts
Due: bunx oxlint --fix, prettier --write

chore(css): consolidate on high-fidelity system
  apps/docs/components/liquid-glass-reference.mdx
  libs/components/src/styles/glass-core.css
  libs/components/src/styles/liquid-glass-system.css
  libs/components/src/styles/liquid-glass.css
  previews/liquid-glass-button.html
Due: none

chore(release): publish liquidify v1.3.4
  libs/components/package.json
  package.json
Due: prettier --write

chore(release): publish liquidify v1.3.4
  liquidify-1.3.4.tgz
Due: none

[short summary of changes]
  apps/docs/package.json
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/.storybook/production-stories.config.js
  apps/storybook/package.json
Due: bunx oxlint --fix, prettier --write

fix: .flox/env.lock
  DEPLOYMENT.md
  DOMAIN_SETUP.md
  SETUP_CHECKLIST.md
  apps/docs/.templates/component.mdx
  apps/docs/DOCS_IMPROVEMENTS.md
  apps/docs/MINTLIFY_COMPATIBILITY_REPORT.md
  apps/docs/component-preview.js
  apps/docs/components/avatar.mdx
  apps/docs/components/badge.mdx
  apps/docs/components/banner.mdx
  apps/docs/components/drawer.mdx
  apps/docs/components/form-field.mdx
  apps/docs/components/glass-button.mdx
  apps/docs/components/liquid-glass-reference.mdx
  apps/docs/components/liquid-glass.mdx
  apps/docs/components/loading.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/notification.mdx
  apps/docs/components/popover.mdx
  apps/docs/components/portal.mdx
  apps/docs/components/progress.mdx
  apps/docs/components/responsive-button.mdx
  apps/docs/components/search.mdx
  apps/docs/components/theme-provider.mdx
  apps/docs/components/theme-toggle.mdx
  apps/docs/docs.json
  apps/docs/liquid-glass-components.css
  apps/docs/package.json
  apps/docs/scripts/build-css.mjs
  apps/docs/scripts/fix-duplicate-headings.mjs
  apps/docs/scripts/quality-check.mjs
  apps/docs/snippets/component-template.mdx
  apps/docs/styles/bundle.css
  apps/storybook/.storybook/preview.tsx
  libs/components/src/stories/design-system/glassmorphism-showcase.stories.tsx
  libs/components/src/styles/liquid-glass-system.css
  tailwind.config.ts
Due: bunx oxlint --fix, prettier --write

deployment prrep
  WARP.md
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.tsx
Due: bunx oxlint --fix, prettier --write
