Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["bunx oxlint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

feat(accent): introduce dynamic accent token and ThemeProvider accent state; replace hard-coded blue with tokenized accent across components; default to Apple Blue fallback
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/lib/theme.ts
  panda.config.ts
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
Due: bunx oxlint --fix, prettier --write

fix(modal,test): remove non-null assertions in focus trap; add explicit type=button in accent test to satisfy lint
  libs/components/src/components/modal/Modal.test.tsx
  libs/components/src/components/modal/Modal.tsx
  libs/components/src/test/smoke.test.tsx
  libs/components/src/test/theme-accent.test.tsx
  openspec/changes/add-apple-hig-foundations/design.md
  openspec/changes/add-apple-hig-foundations/proposal.md
  openspec/changes/add-apple-hig-foundations/specs/a11y/spec.md
  openspec/changes/add-apple-hig-foundations/specs/components/interaction-states/spec.md
  openspec/changes/add-apple-hig-foundations/specs/design-system/colors/spec.md
  openspec/changes/add-apple-hig-foundations/specs/design-system/typography-layout/spec.md
  openspec/changes/add-apple-hig-foundations/specs/docs/spec.md
  openspec/changes/add-apple-hig-foundations/specs/icons/spec.md
  openspec/changes/add-apple-hig-foundations/tasks.md
Due: bunx oxlint --fix, prettier --write

launch accessment
  README.md
  libs/components/src/components/ark-ui/colorPicker/colorPicker.tsx
Due: bunx oxlint --fix, prettier --write

feat(theme,a11y): tokenize focus ring with dynamic accent; map canvas bg to tokens; update docs and metadata
  README.md
  libs/components/src/components/ark-ui/colorPicker/colorPicker.tsx
  libs/components/src/core/utils/classname.ts
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/styles/new-design-system.css
  openspec/changes/add-apple-hig-foundations/tasks.md
  package.json
  panda.config.ts
  styled-system/styles.css
Due: bunx oxlint --fix, prettier --write

implementing style compliance
  libs/components/src/core/utils/classname.ts
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/lib/theme.ts
  libs/components/src/styles/new-design-system.css
  libs/components/src/test/theme-accent.test.tsx
  panda.config.ts
  styled-system/styles.css
Due: bunx oxlint --fix, prettier --write

test suite implementation
  README.md
  bun.lock
  libs/components/src/components/button/button.tsx
  libs/components/src/test/button-a11y.test.tsx
  libs/components/src/test/smoke.test.tsx
  libs/components/styled-system/styles.css
  openspec/changes/add-apple-hig-button/design.md
  openspec/changes/add-apple-hig-button/proposal.md
  openspec/changes/add-apple-hig-button/tasks.md
  package.json
  panda.config.ts
  preview-components/button-preview.html
  styled-system/jsx/create-style-context.d.ts
  styled-system/jsx/create-style-context.js
  styled-system/patterns/grid.js
  styled-system/patterns/hstack.js
  styled-system/patterns/stack.js
  styled-system/patterns/vstack.js
  styled-system/patterns/wrap.js
  styled-system/recipes/button.d.ts
  styled-system/recipes/button.js
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
  styled-system/types/conditions.d.ts
  styled-system/types/jsx.d.ts
  styled-system/types/prop-type.d.ts
Due: bunx oxlint --fix, prettier --write

Adds glassmorphic microinteraction hook
  libs/components/src/hooks/useGlassMicro.ts
  openspec/project.md
  panda.config.ts
Due: bunx oxlint --fix, prettier --write

Add design tokens for new color palettes and typography styles
  .replit
  bun.lock
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
  styled-system/types/prop-type.d.ts
Due: bunx oxlint --fix, prettier --write

Add demonstration environment for UI component library
  demo/index.html
  demo/package.json
  demo/src/App.css
  demo/src/App.tsx
  demo/src/main.tsx
  demo/tsconfig.json
  demo/tsconfig.node.json
  demo/vite.config.ts
Due: bunx oxlint --fix, prettier --write

Add new feature to customize user profile data
  .replit
  demo/bun.lock
Due: none

Set up the project to run in the Replit environment
  .replit
Due: none

Document the project's system architecture and dependencies
  replit.md
Due: prettier --write

Transitioned from Plan to Build mode
  .replit
Due: none

Remove unused typography and radius tokens for cleaner styling
  .replit
  demo/src/App.tsx
  demo/styled-system/css/conditions.js
  demo/styled-system/css/css.d.ts
  demo/styled-system/css/css.js
  demo/styled-system/jsx/is-valid-prop.d.ts
  demo/styled-system/jsx/is-valid-prop.js
  demo/styled-system/tokens/index.d.ts
  demo/styled-system/tokens/index.js
  demo/styled-system/tokens/tokens.d.ts
  panda.config.ts
  styled-system/styles.css
  styled-system/types/prop-type.d.ts
Due: bunx oxlint --fix, prettier --write

Add magnetic hover effect to buttons with customizable strength
  libs/components/src/components/button/button.tsx
  libs/components/src/hooks/useGlassMicro.ts
  libs/components/src/hooks/useMagneticHover.ts
Due: bunx oxlint --fix, prettier --write

Add new typography styles and letter spacing tokens
  demo/styled-system/tokens/index.js
  demo/styled-system/tokens/tokens.d.ts
  panda.config.ts
Due: bunx oxlint --fix, prettier --write

Enhance glass and liquid effects with P3 color support and new layers
  demo/styled-system/recipes/index.d.ts
  demo/styled-system/recipes/index.js
  demo/styled-system/recipes/liquid-glass.d.ts
  demo/styled-system/recipes/liquid-glass.js
  demo/styled-system/tokens/index.js
  demo/styled-system/tokens/tokens.d.ts
  panda.config.ts
Due: bunx oxlint --fix, prettier --write

Enhance button and card interactions with smoother physics and visual effects
  .replit
  libs/components/src/components/button/button.tsx
  libs/components/src/hooks/useCardSpring.ts
  libs/components/src/hooks/useGlassMicro.ts
Due: bunx oxlint --fix, prettier --write

Respect reduced motion settings for magnetic hover effects
  libs/components/src/components/button/button.tsx
Due: bunx oxlint --fix, prettier --write

Update button component to use magnetic hover effect
  libs/components/src/components/button/button.tsx
Due: bunx oxlint --fix, prettier --write

Add interactive spring physics to UI components for smoother animations
  .replit
  libs/components/src/components/ark-ui/checkbox/checkbox.tsx
  libs/components/src/components/ark-ui/slider/slider.tsx
  libs/components/src/components/ark-ui/switch/switch.tsx
  libs/components/src/components/card/Card.tsx
  libs/components/src/hooks/useInteractiveGlass.ts
Due: bunx oxlint --fix, prettier --write

Update component library to support individual component imports
  libs/components/package.json
  libs/components/vite.config.ts
Due: bunx oxlint --fix, prettier --write

Update component library to be publishable and improve build configuration
  libs/components/CONTRIBUTING.md
  libs/components/README.md
  libs/components/package.json
  libs/components/vite.config.ts
  replit.md
Due: bunx oxlint --fix, prettier --write

more components ready to use
  libs/components/src/components/ark-ui/checkbox/checkbox.tsx
  libs/components/src/components/ark-ui/slider/slider.tsx
  libs/components/src/components/ark-ui/switch/switch.tsx
  libs/components/src/components/button/button.tsx
  libs/components/src/components/card/Card.tsx
  libs/components/src/hooks/useCardSpring.ts
  libs/components/src/hooks/useGlassMicro.ts
  libs/components/src/hooks/useInteractiveGlass.ts
  libs/components/src/hooks/useMagneticHover.ts
  libs/components/src/test/button-a11y.test.tsx
  libs/components/src/test/smoke.test.tsx
  libs/components/src/test/theme-accent.test.tsx
  libs/components/vite.config.ts
Due: bunx oxlint --fix, prettier --write

Adds cleanup script for repository publication
  .replit
  button-preview.html
  cleanup.sh
  replit.md
Due: prettier --write

v0.6.10
  package.json
Due: prettier --write

Enhances glass style with P3 color gamut support
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
  styled-system/types/prop-type.d.ts
Due: bunx oxlint --fix, prettier --write

Updates dependencies to latest versions
  bun.lock
  package.json
Due: prettier --write

v0.6.11
  bun.lock
  package.json
Due: prettier --write

v0.6.12
  package.json
Due: prettier --write

Adds ThemeProvider accent presets and API
  AGENTS.md
  CHANGELOG.md
  CRUSH.md
  libs/components/README.md
  libs/components/src/components/ark-ui/checkbox/checkbox.tsx
  libs/components/src/components/ark-ui/slider/slider.tsx
  libs/components/src/components/ark-ui/switch/switch.tsx
  libs/components/src/components/card/Card.tsx
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/hooks/useGlassMicro.ts
  libs/components/src/lib/theme.ts
  libs/components/src/test/theme-accent.test.tsx
  openspec/AGENTS.md
  openspec/changes/add-apple-hig-button/design.md
  openspec/changes/add-apple-hig-button/proposal.md
  openspec/changes/add-apple-hig-button/specs/components-button/spec.md
  openspec/changes/add-apple-hig-button/specs/design-system-button-consistency/spec.md
  openspec/changes/add-apple-hig-button/tasks.md
  openspec/changes/add-apple-hig-foundations/design.md
  openspec/changes/add-apple-hig-foundations/proposal.md
  openspec/changes/add-apple-hig-foundations/specs/a11y/spec.md
  openspec/changes/add-apple-hig-foundations/specs/components/interaction-states/spec.md
  openspec/changes/add-apple-hig-foundations/specs/design-system/colors/spec.md
  openspec/changes/add-apple-hig-foundations/specs/design-system/typography-layout/spec.md
  openspec/changes/add-apple-hig-foundations/specs/docs/spec.md
  openspec/changes/add-apple-hig-foundations/specs/icons/spec.md
  openspec/changes/add-apple-hig-foundations/tasks.md
  openspec/changes/archive/2025-09-29-add-themeprovider-accent-presets-runtime-switching-api/proposal.md
  openspec/changes/archive/2025-09-29-add-themeprovider-accent-presets-runtime-switching-api/specs/theming/spec.md
  openspec/changes/archive/2025-09-29-add-themeprovider-accent-presets-runtime-switching-api/tasks.md
  openspec/project.md
  openspec/specs/theming/spec.md
Due: bunx oxlint --fix, prettier --write

Adds OpenSpec commands and updates dependencies
  .cursor/commands/openspec-apply.md
  .cursor/commands/openspec-archive.md
  .cursor/commands/openspec-proposal.md
  bun.lock
  libs/components/src/test/button-a11y.test.tsx
  libs/components/src/test/theme-accent.test.tsx
Due: bunx oxlint --fix, prettier --write

v0.6.13
  package.json
Due: prettier --write

Launch accessment and publishment
  AGENTS.md
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/test/button-a11y.test.tsx
  libs/components/src/test/theme-accent.test.tsx
  test-imports.js
  test-imports.mdx
Due: bunx oxlint --fix, prettier --write

v0.6.14
  package.json
Due: prettier --write

Enhances button variants and sizes
  demo/src/App.tsx
  libs/components/package.json
  panda.config.ts
  styled-system/styles.css
Due: bunx oxlint --fix, prettier --write

v0.6.15
  package.json
Due: prettier --write

Adds liquidify-react package
  liquidify-react-0.6.15.tgz
Due: none

0.6.16
  package.json
Due: prettier --write
