Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

fix: resolve React Testing Library conflicts and TypeScript errors
  libs/components/src/components/glass-accessible-demo/glass-accessible-demo.tsx
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-card-refactored/glass-card.tsx
  libs/components/src/test/setup.ts
  libs/components/tsconfig.lib.json
Due: bunx oxlint --fix, prettier --write

fix: resolve TypeScript compilation errors and build failures
  libs/components/src/components/glass-card-refactored/glass-card.tsx
Due: bunx oxlint --fix, prettier --write

fix: update test setup for React Testing Library compatibility
  libs/components/src/test/setup.ts
Due: bunx oxlint --fix, prettier --write

fix: create missing Storybook public directory
  apps/storybook/public/README.md
Due: prettier --write

Update reports/bundle/bundle-analysis.json
  reports/bundle/bundle-analysis.json
Due: prettier --write

cleanup
  .gitignore
  apps/docs/components/modal.mdx
  bun.lock
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-checkbox-group/glass-checkbox-group.tsx
  libs/components/src/components/glass-error-boundary/glass-error-boundary.tsx
  libs/components/src/components/glass-error-boundary/tsconfig.json
  libs/components/src/components/glass-focus-demo/glass-focus-demo.tsx
  libs/components/src/components/glass-form-field/glass-form-field.tsx
  libs/components/src/components/glass-input/glass-input.tsx
  libs/components/src/components/glass-live-region/glass-live-region.tsx
  libs/components/src/components/glass-modal/glass-modal.tsx
  libs/components/src/components/glass-number-input/glass-number-input.tsx
  libs/components/src/components/glass-pagination/glass-pagination.tsx
  libs/components/src/components/glass-performance-dashboard/glass-performance-dashboard.tsx
  libs/components/src/components/glass-portal/glass-portal.tsx
  libs/components/src/components/glass-radio-group/glass-radio-group.tsx
  libs/components/src/hooks/use-glass-animations.ts
  package.json
  reports/bundle/stats-init.js
  reports/bundle/stats-main.js
  reports/bundle/stats.css
  reports/bundle/stats.html
  vite.config.mts
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

feat: Complete Tailwind v4 migration with safelist to CSS layer migration
  .crush/crush.db-shm
  libs/components/src/test/build-validation.test.ts
  libs/components/src/test/performance-integration.test.tsx
Due: bunx oxlint --fix, prettier --write

feat: Complete Tailwind v4 migration with safelist to CSS layer migration
  .crush/crush.db
  .crush/crush.db-shm
  .crush/crush.db-wal
  .github/workflows/build-validation.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  docs/EXPORT_STRUCTURE.md
  libs/components/src/components/glass-form-field/glass-form-field.stories.tsx
  libs/components/src/components/glass-modal/glass-modal.stories.tsx
  libs/components/src/components/glass-playground/glass-playground.tsx
  libs/components/src/components/glass-popover/glass-popover.stories.tsx
  libs/components/src/components/glass-tabs/glass-tabs.stories.tsx
  libs/components/src/components/glass-tooltip/glass-tooltip.stories.tsx
  libs/components/src/stories/components/glass-banner.stories.tsx
  libs/components/src/stories/components/glass-error-boundary.stories.tsx
  libs/components/src/stories/components/glass-focus-demo.stories.tsx
  libs/components/src/stories/components/glass-focus-trap.stories.tsx
  libs/components/src/stories/components/glass-live-region.stories.tsx
  libs/components/src/stories/components/glass-portal.stories.tsx
  libs/components/src/stories/components/glass-tree-view.stories.tsx
  libs/components/src/stories/design-system/animation-patterns.stories.tsx
  mint-docs/docs.json
  package.json
  qodana.yaml
  scripts/fix-typescript-config.js
  scripts/storybook-build-validator.cjs
  scripts/validate-build-config.js
  scripts/validate-exports.js
  tsconfig.json
  vite.config.mts
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

launch preparations
  .github/workflows/build-validation.yml
  .output.txt
  apps/docs-vitepress-backup/.vitepress/theme/custom.css
  apps/docs/api-reference/utilities.mdx
  apps/docs/mint.json
  bun.lock
  docs/EXPORT_STRUCTURE.md
  libs/components/src/components/glass-checkbox-group/glass-checkbox-group.stories.tsx
  libs/components/src/components/glass-live-region/glass-live-region.tsx
  libs/components/src/components/glass-toast/glass-toast.tsx
  libs/components/src/stories/design-system/animation-patterns.stories.tsx
  package.json
  qodana.yaml
  reports/bundle/stats.html
  scripts/fix-typescript-config.js
  scripts/validate-build-config.js
  tsconfig.json.backup.1754080168865
  vite.config.mts.backup.1754080168866
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

cleanup
  .output.txt
  apps/docs/components/BarChart.mdx
  apps/docs/components/CommandPalette.mdx
  apps/docs/components/ComponentShowcase.mdx
  apps/docs/components/DonutChart.mdx
  apps/docs/components/GlassAvatar.mdx
  apps/docs/components/GlassBadge.mdx
  apps/docs/components/GlassCheckbox.mdx
  apps/docs/components/GlassDropdown.mdx
  apps/docs/components/GlassLoading.mdx
  apps/docs/components/GlassMobileNav.mdx
  apps/docs/components/GlassPopover.mdx
  apps/docs/components/GlassProgress.mdx
  apps/docs/components/GlassResponsiveButton.mdx
  apps/docs/components/GlassResponsiveCard.mdx
  apps/docs/components/GlassSearch.mdx
  apps/docs/components/GlassSelect.mdx
  apps/docs/components/GlassSlider.mdx
  apps/docs/components/GlassSwitch.mdx
  apps/docs/components/GlassTable.mdx
  apps/docs/components/GlassTextarea.mdx
  apps/docs/components/LineChart.mdx
  apps/docs/components/MIGRATION.mdx
  apps/docs/components/NotificationCenter.mdx
  apps/docs/components/PERFORMANCE.mdx
  apps/docs/components/accessibility-testing.mdx
  apps/docs/components/design-tokens-examples.mdx
  apps/docs/components/index.mdx
  apps/docs/components/new-components.mdx
  apps/docs/favicon.svg
  apps/docs/mint.json
Due: prettier --write

feat: Complete Tailwind v4 migration with safelist to CSS layer migration
  apps/docs/migration.mdx
Due: none

fix: resolve TypeScript compilation errors and enhance Tailwind config
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.ts
  libs/components/src/hooks/use-toast.ts
  libs/components/src/styles/index.css
  package.json
  tailwind.config.js
Due: bunx oxlint --fix, prettier --write

chore: clean up backup files from TypeScript configuration attempts
  tsconfig.json.backup.1754080168865
  vite.config.mts.backup.1754080168866
Due: none

fix: update TypeScript config and install missing Storybook addon
  bun.lock
  package.json
  tsconfig.json
Due: prettier --write

fix: resolve type-guards.ts TypeScript errors
  libs/components/src/utils/type-guards.ts
Due: bunx oxlint --fix, prettier --write

fix: resolve glass-playground TypeScript errors
  libs/components/src/components/glass-playground/glass-playground.tsx
  libs/components/src/components/glass-playground/index.ts
Due: bunx oxlint --fix, prettier --write

docs: add COMPONENTS_STATUS.md tracking Apple Liquid Glass migration status
  COMPONENTS_STATUS.md
Due: prettier --write

feat(ui): implement Apple Liquid Glass redesign with Tailwind v4 and update build configs
  tsconfig.json.backup.1754140752909
  vite.config.mts.backup.1754140752911
Due: none

Update libs/components/src/hooks/use-toast.ts
  libs/components/src/hooks/use-toast.ts
Due: bunx oxlint --fix, prettier --write

Update libs/components/src/components/glass-file-upload/glass-file-upload.tsx
  libs/components/src/components/glass-file-upload/glass-file-upload.tsx
Due: bunx oxlint --fix, prettier --write

feat: scaffold Apple Liquid Glass tokens and Tailwind plugin, begin badge/avatar migration
  COMPONENTS_STATUS.md
  libs/components/src/components/glass-avatar/glass-avatar.tsx
  libs/components/src/components/glass-badge/glass-badge.tsx
  libs/components/src/styles/tailwind-alg-plugin.ts
  libs/components/src/tokens/apple-liquid-glass-tokens.ts
  tailwind.config.ts
Due: bunx oxlint --fix, prettier --write

css fixes
  apps/docs/components/glass-container.mdx
  apps/storybook/.storybook/main.ts
  import_mcp_servers.sh
  q_mcp_config.json
  reports/bundle/stats.html
Due: bunx oxlint --fix, prettier --write

feat: Complete Tailwind v4 migration with safelist to CSS layer migration
  libs/components/src/styles/apple-liquid-authentic.css
  libs/components/src/styles/graceful-degradation.css
  libs/components/src/styles/minimal-glass.css
  libs/components/src/styles/tailwind.css
Due: none

refactor: rename glass classes to liquid glass for consistency
  libs/components/src/components/glass-accessible-demo/glass-accessible-demo.tsx
  libs/components/src/components/glass-alert/glass-alert.test.tsx
  libs/components/src/components/glass-badge/glass-badge.test.tsx
  libs/components/src/components/glass-badge/glass-badge.tsx
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-command/glass-command.tsx
  libs/components/src/components/glass-error-boundary/glass-error-boundary.tsx
  libs/components/src/components/glass-input/glass-input.tsx
  libs/components/src/components/glass-modal/glass-modal.test.tsx
  libs/components/src/components/glass-notification/glass-notification.tsx
  libs/components/src/components/glass-playground/glass-playground.tsx
  libs/components/src/components/glass-responsive-card/glass-responsive-card.tsx
  libs/components/src/components/glass-search/glass-search.tsx
  libs/components/src/components/glass-slider/glass-slider.tsx
  libs/components/src/components/glass-switch/glass-switch.tsx
  libs/components/src/components/glass-table/glass-table.test.tsx
  libs/components/src/components/glass-table/glass-table.tsx
  libs/components/src/components/glass-textarea/glass-textarea.tsx
  libs/components/src/core/utils/classname.ts
  libs/components/src/stories/components/glass-accessible-demo.stories.tsx
  libs/components/src/stories/components/glass-error-boundary.stories.tsx
  libs/components/src/stories/components/glass-live-region.stories.tsx
  libs/components/src/stories/components/glass-mobile-nav.stories.tsx
  libs/components/src/stories/components/glass-performance-dashboard.stories.tsx
  libs/components/src/stories/components/glass-visually-hidden.stories.tsx
  libs/components/src/styles/glass-base.css
  libs/components/src/styles/glass-core.css
  libs/components/src/styles/glass.css
  tailwind.config.js
Due: bunx oxlint --fix, prettier --write

feat: refactor liquid-glass utilities into separate plugin file
  tailwind.config.js
  tailwind.config.ts
  tailwind/plugins/liquid-glass.ts
Due: bunx oxlint --fix, prettier --write

Update libs/components/src/components/glass-badge/glass-badge.tsx
  libs/components/src/components/glass-badge/glass-badge.tsx
Due: bunx oxlint --fix, prettier --write

Update libs/components/src/components/glass-textarea/glass-textarea.tsx
  libs/components/src/components/glass-textarea/glass-textarea.tsx
Due: bunx oxlint --fix, prettier --write

Path conditions:
  bunx oxlint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
