Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["bunx oxlint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Restructure Mintlify navigation with comprehensive sidebar organization
  apps/docs/docs.json
  libs/components/src/components/glass-breadcrumbs/glass-breadcrumbs.tsx
  libs/components/src/components/glass-command/glass-command.tsx
  libs/components/src/components/glass-drawer/glass-drawer.tsx
  libs/components/src/components/glass-mobile-nav/glass-mobile-nav.tsx
  libs/components/src/components/glass-modal/glass-modal.tsx
  libs/components/src/components/glass-pagination/glass-pagination.tsx
  libs/components/src/components/glass-skip-navigation/glass-skip-navigation.tsx
  libs/components/src/components/glass-slider/glass-slider.tsx
  libs/components/src/components/glass-spinner/glass-spinner.tsx
  libs/components/src/components/glass-tabs/glass-tabs.tsx
  libs/components/src/components/navbar/navbar.tsx
  libs/components/src/components/sidebar/sidebar.tsx
  libs/components/src/core/utils/classname.ts
  libs/components/src/examples/glass-focus-demo/glass-focus-demo.tsx
  libs/components/src/styles/index.css
  libs/components/src/styles/liquid-glass-system.css
Due: bunx oxlint --fix, prettier --write

[short summary of changes]
  apps/docs/.templates/component.mdx
  apps/docs/advanced/framework-integration.mdx
  apps/docs/index.mdx
  bun.lock
  libs/components/src/components/glass-accordion/glass-accordion.tsx
  libs/components/src/components/glass-combobox/glass-combobox.tsx
  libs/components/src/components/glass-drawer/glass-drawer.tsx
  package.json
Due: bunx oxlint --fix, prettier --write

fixing storybook preview
  apps/docs/docs.json.backup
  libs/components/src/styles/index.css
Due: none

[short summary of changes]
  apps/docs/component-preview.js
  apps/docs/components/Preview.tsx
  apps/docs/liquid-glass-components.css
  apps/docs/styles/bundle.css
  libs/components/src/components/glass-avatar/glass-avatar.tsx
  libs/components/src/lib/variant-system.ts
Due: bunx oxlint --fix, prettier --write

storybook fixes
  apps/docs/CRUSH.md
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-form-field/glass-form-field.tsx
  libs/components/src/components/glass-mobile-nav/glass-mobile-nav.tsx
  libs/components/src/components/glass-number-input/glass-number-input.tsx
  libs/components/src/components/glass-pagination/glass-pagination.tsx
  libs/components/src/components/glass-progress/glass-progress.tsx
  libs/components/src/components/glass-skip-navigation/glass-skip-navigation.stories.tsx
  libs/components/src/components/glass-switch/glass-switch.tsx
  libs/components/src/components/glass-timeline/glass-timeline.tsx
  libs/components/src/components/glass-tooltip/glass-tooltip.tsx
  libs/components/src/components/glass-tree-view/glass-tree-view.tsx
  libs/components/src/hooks/use-liquid-glass.tsx
  libs/components/src/stories/00-welcome.stories.tsx
  libs/components/src/stories/components/glass-mobile-nav.stories.tsx
  libs/components/src/stories/design-system/theme-showcase.stories.tsx
Due: bunx oxlint --fix, prettier --write

docs(story-previews): replace hardcoded grays with iOS blue (#007AFF) in MDX and snippet previews; align with CSS implementation; fix wizard progress neutrals
  apps/docs/components/avatar.mdx
  apps/docs/components/badge.mdx
  apps/docs/components/banner.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/timeline.mdx
  apps/docs/snippets/components/glass-breadcrumbs.jsx
  apps/docs/snippets/components/glass-button.jsx
  apps/docs/snippets/components/glass-card.jsx
  apps/docs/snippets/components/glass-form-field.jsx
  apps/docs/snippets/components/glass-responsive-button.jsx
Due: none

docs(typography): revert blue text in docs previews; use theme text vars for primary/secondary; keep blue for accents only; fix wizard neutral bg to blue-500/20
  apps/docs/components/avatar.mdx
  apps/docs/components/badge.mdx
  apps/docs/components/banner.mdx
  apps/docs/components/modal.mdx
  apps/docs/snippets/components/glass-breadcrumbs.jsx
  apps/docs/snippets/components/glass-button.jsx
  apps/docs/snippets/components/glass-form-field.jsx
  apps/docs/snippets/components/glass-responsive-button.jsx
Due: none

mintlify docs fixed
  apps/docs/.templates/component.mdx
  apps/docs/CRUSH.md
  apps/docs/DOCS_IMPROVEMENTS.md
  apps/docs/MINTLIFY_COMPATIBILITY_REPORT.md
  apps/docs/docs.json
  apps/docs/docs.json.backup
  libs/components/src/components/glass-accordion/glass-accordion.stories.tsx
  libs/components/src/components/glass-breadcrumbs/glass-breadcrumbs.tsx
  libs/components/src/components/glass-combobox/glass-combobox.tsx
  libs/components/src/components/glass-drawer/glass-drawer.tsx
  libs/components/src/components/glass-mobile-nav/glass-mobile-nav.tsx
  libs/components/src/components/glass-modal/glass-modal.tsx
  libs/components/src/components/glass-number-input/glass-number-input.tsx
  libs/components/src/components/glass-radio-group/glass-radio-group.tsx
  libs/components/src/components/glass-tabs/glass-tabs.tsx
  libs/components/src/components/glass-textarea/glass-textarea.tsx
Due: bunx oxlint --fix, prettier --write

storybook fixes
  apps/docs/docs.json
  apps/docs/styles/bundle.css
  libs/components/src/components/glass-accordion/glass-accordion.stories.tsx
  libs/components/src/components/glass-alert/glass-alert.stories.tsx
  libs/components/src/components/glass-checkbox/glass-checkbox.stories.tsx
  libs/components/src/components/glass-drawer/glass-drawer.stories.tsx
  libs/components/src/components/glass-dropdown/glass-dropdown.stories.tsx
  libs/components/src/components/glass-form-field/glass-form-field.stories.tsx
  libs/components/src/components/glass-input/glass-input.stories.tsx
  libs/components/src/components/glass-loading/glass-loading.stories.tsx
  libs/components/src/components/glass-modal/glass-modal.stories.tsx
  libs/components/src/styles/index.css
  libs/components/src/styles/liquid-glass-system.css
Due: bunx oxlint --fix, prettier --write

[short summary of changes]
  docs/EXPORTS.md
Due: prettier --write

fixing storybook
  libs/components/src/components/glass-badge/glass-badge.tsx
  libs/components/src/components/glass-badge/index.ts
  libs/components/src/components/glass-breadcrumbs/glass-breadcrumbs.tsx
  libs/components/src/components/glass-breadcrumbs/index.ts
  libs/components/src/components/glass-button-refactored/glass-button.tsx
  libs/components/src/components/glass-button-refactored/index.ts
  libs/components/src/components/glass-checkbox-group/glass-checkbox-group.tsx
  libs/components/src/components/glass-checkbox-group/index.ts
  libs/components/src/components/glass-checkbox/glass-checkbox.tsx
  libs/components/src/components/glass-checkbox/index.ts
  libs/components/src/components/glass-date-picker/glass-date-picker.tsx
  libs/components/src/components/glass-date-picker/index.ts
  libs/components/src/components/glass-drawer/glass-drawer.tsx
  libs/components/src/components/glass-drawer/index.ts
  libs/components/src/components/glass-file-upload/glass-file-upload.tsx
  libs/components/src/components/glass-file-upload/index.ts
  libs/components/src/components/glass-form-field/glass-form-field.tsx
  libs/components/src/components/glass-form-field/index.ts
  libs/components/src/components/glass-input/glass-input.tsx
  libs/components/src/components/glass-input/index.ts
  libs/components/src/components/glass-mobile-nav/glass-mobile-nav.tsx
  libs/components/src/components/glass-mobile-nav/index.ts
  libs/components/src/components/glass-modal/glass-modal.tsx
  libs/components/src/components/glass-modal/index.ts
  libs/components/src/components/glass-number-input/glass-number-input.tsx
  libs/components/src/components/glass-number-input/index.ts
  libs/components/src/components/glass-pagination/glass-pagination.tsx
  libs/components/src/components/glass-pagination/index.ts
  libs/components/src/components/glass-portal/glass-portal.tsx
  libs/components/src/components/glass-portal/index.ts
  libs/components/src/components/glass-responsive-button/glass-responsive-button.tsx
  libs/components/src/components/glass-responsive-button/index.ts
  libs/components/src/components/glass-skeleton/glass-skeleton.tsx
  libs/components/src/components/glass-skeleton/index.ts
  libs/components/src/components/glass-switch/glass-switch.tsx
  libs/components/src/components/glass-switch/index.ts
  libs/components/src/components/glass-textarea/index.ts
Due: bunx oxlint --fix, prettier --write

[short summary of changes]
  apps/docs/component-preview.js
  apps/docs/docs.json
  apps/docs/favicon.svg
  apps/docs/liquid-glass-components.css
  apps/docs/logo-dark.svg
  apps/docs/logo-light.svg
  apps/docs/package.json
  apps/docs/scripts/build-css.mjs
  apps/docs/scripts/enhancements.js
  apps/docs/scripts/fix-duplicate-headings.mjs
  apps/docs/scripts/inject-static-previews.mjs
  apps/docs/scripts/quality-check.mjs
  apps/docs/snippets/ButtonBasic.tsx
  apps/docs/snippets/component-template.mdx
  apps/docs/styleguides.mdx
Due: bunx oxlint --fix, prettier --write

deployment prrep
  .qoder/quests/mintlify-apple-theme.md
  apps/docs/Favicon.svg
  apps/docs/Logo.svg
  apps/docs/docs.json
  apps/docs/styles.css
  apps/docs/styles/apple-developer.css
  apps/docs/styles/bundle.css
  apps/storybook/.storybook/main.mjs
  apps/storybook/.storybook/preview.tsx
  libs/components/src/components/glass-alert/glass-alert.stories.tsx
  libs/components/src/components/glass-badge/index.ts
  libs/components/src/components/glass-banner/glass-banner.stories.tsx
  libs/components/src/components/glass-breadcrumbs/index.ts
  libs/components/src/components/glass-checkbox-group/index.ts
  libs/components/src/components/glass-checkbox/index.ts
  libs/components/src/components/glass-date-picker/index.ts
  libs/components/src/components/glass-drawer/index.ts
  libs/components/src/components/glass-file-upload/index.ts
  libs/components/src/components/glass-focus-trap/glass-focus-trap.stories.tsx
  libs/components/src/components/glass-form-field/index.ts
  libs/components/src/components/glass-mobile-nav/glass-mobile-nav.stories.tsx
  libs/components/src/components/glass-number-input/glass-number-input.stories.tsx
  libs/components/src/components/glass-number-input/index.ts
  libs/components/src/components/glass-portal/glass-portal.stories.tsx
  libs/components/src/components/glass-portal/index.ts
  libs/components/src/components/glass-responsive-button/index.ts
  libs/components/src/components/glass-skeleton/index.ts
  libs/components/src/components/glass-switch/index.ts
  libs/components/src/components/glass-textarea/glass-textarea.stories.tsx
  libs/components/src/components/glass-timeline/glass-timeline.stories.tsx
  libs/components/src/components/glass-tree-view/glass-tree-view.stories.tsx
  libs/components/src/components/navbar/navbar.stories.tsx
  libs/components/src/components/sidebar/sidebar.stories.tsx
Due: bunx oxlint --fix, prettier --write

docs update
  apps/docs/CRUSH.md
  apps/docs/README.md
  apps/docs/components/PreviewCodeTabs.tsx
  apps/docs/components/docs/GlassCard.tsx
  apps/docs/components/docs/MintlifyAccordion.tsx
  apps/docs/components/docs/MintlifyCallout.tsx
  apps/docs/components/docs/MintlifyFrame.tsx
  apps/docs/components/docs/SFIcon.tsx
  apps/docs/components/glass-button.mdx
  apps/docs/docs.json
  apps/docs/guides/apple-hig-integration.mdx
  apps/docs/index.mdx
  apps/docs/styles.css
Due: bunx oxlint --fix, prettier --write

[short summary of changes]
  .qoder/quests/api-projects-case-mapping.md
  IMPLEMENTATION_SUMMARY.md
  apps/docs/components/Playground.tsx
  apps/docs/components/Preview.tsx
  apps/docs/components/breadcrumbs.mdx
  apps/docs/components/tabs.mdx
  apps/docs/components/toast.mdx
  apps/docs/migrate/FILES_REMOVED.json
  apps/docs/migrate/MIGRATION_PAGES_UPDATED.json
  apps/docs/migrate/MIGRATION_SUMMARY.md
  apps/docs/scripts/migrate-previews.mjs
  apps/docs/style.css
  client/bun.lock
  client/index.html
  client/package.json
  client/src/App.tsx
  client/src/components/ProjectCard.tsx
  client/src/entry-server.tsx
  client/src/hooks/useProjects.ts
  client/src/index.css
  client/src/main.tsx
  server/app.ts
  server/bun.lock
  server/package.json
  server/routes/api.ts
  server/services/projectTransformService.ts
  server/validators/projectValidator.ts
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/docs.json
Due: prettier --write

Production readiness fixes: TypeScript React 19 compatibility, test environment fixes, and deployment preparation
  apps/storybook/.storybook/production-stories.config.ts
  apps/storybook/package.json
  bun.lock
  knip.json
  libs/components/package.json
  libs/components/src/components/theme-toggle/theme-toggle.tsx
  libs/components/src/core/base-component.ts
  libs/components/src/core/roving-tabindex.tsx
  libs/components/src/core/utils/glass-effects.ts
  libs/components/src/examples/glass-accessible-demo/glass-accessible-demo.tsx
  libs/components/src/examples/glass-accessible-demo/index.ts
  libs/components/src/examples/glass-focus-demo/glass-focus-demo.tsx
  libs/components/src/examples/glass-focus-demo/index.ts
  libs/components/src/hooks/use-device-capabilities.tsx
  libs/components/src/hooks/use-glass-animations.ts
  libs/components/src/hooks/use-performance-monitoring.tsx
  libs/components/src/hooks/use-ssr-safe-hooks.ts
  libs/components/src/hooks/use-ssr-safe.ts
  libs/components/src/lib/variant-system.ts
  libs/components/src/test/test-utils.tsx
  libs/components/src/utils/liquid-glass-helpers.ts
  package.json
  server/app.ts
  server/bun.lock
  server/package.json
  server/routes/api.ts
  server/services/projectTransformService.ts
  server/validators/projectValidator.ts
  tsconfig.json
  types/react-19-compat.d.ts
Due: bunx oxlint --fix, prettier --write

Phase 2 setup: Add comprehensive action plan and test fix script for production readiness improvements
  PHASE_2_ACTION_PLAN.md
  fix-tests.sh
Due: prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/CRUSH.md
  apps/docs/changelog.mdx
  apps/docs/docs.json
  apps/docs/style.css
  apps/docs/styles.css
Due: prettier --write

Documentation edits made through Mintlify web editor
  apps/docs/advanced/framework-integration.mdx
Due: none

Follow-up to cherry-pick 7acb0b0: fix bundle exports after cleanup
  libs/components/src/bundles/accessibility.ts
  libs/components/src/bundles/core.ts
Due: bunx oxlint --fix, prettier --write

Follow-up to cherry-pick 7acb0b0: restore basic test utilities
  libs/components/src/test/test-utils.tsx
Due: bunx oxlint --fix, prettier --write

deployment prrep
  bun.lock
  package.json
Due: prettier --write

refactor(tokens): replace remaining hardcoded colors in lib with tokens/vars (spinner, defs, print styles, shine filter)
  libs/components/src/components/glass-spinner/glass-spinner.tsx
  libs/components/src/components/liquid-glass-defs/liquid-glass-defs.tsx
  libs/components/src/styles/index.css
  libs/components/src/styles/liquid-glass-system.css
Due: bunx oxlint --fix, prettier --write

fix: add @tailwindcss/postcss for Tailwind v4 compatibility and format code
  apps/storybook/.storybook/preview-head.html
  bun.lock
  libs/components/src/components/glass-button-refactored/glass-button.stories.tsx
  libs/components/src/components/glass-chart/glass-chart.tsx
  libs/components/src/components/glass-file-upload/glass-file-upload.stories.tsx
  libs/components/src/components/glass-pagination/glass-pagination.stories.tsx
  libs/components/src/components/glass-search/glass-search.stories.tsx
  libs/components/src/components/glass-skeleton/glass-skeleton.stories.tsx
  libs/components/src/components/liquid-glass/liquid-glass.stories.tsx
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/styles/liquid-glass-system.css
  package.json
  postcss.config.js
Due: bunx oxlint --fix, prettier --write

Updates Storybook canvas backgrounds
  apps/storybook/.storybook/preview-head.html
  apps/storybook/.storybook/preview.jsx
  apps/storybook/package.json
  apps/storybook/public/backgrounds/.gitkeep
  apps/storybook/public/backgrounds/3cbf0e6a-09c8-4b47-9560-c3ff84130086.webp
  apps/storybook/public/backgrounds/Tahoe1x1.webp
  bun.lock
  libs/components/src/components/glass-checkbox-group/glass-checkbox-group.stories.tsx
  libs/components/src/components/glass-combobox/glass-combobox.stories.tsx
  libs/components/src/components/glass-command/glass-command.stories.tsx
  libs/components/src/components/glass-date-picker/glass-date-picker.stories.tsx
  libs/components/src/components/glass-responsive-button/glass-responsive-button.stories.tsx
  libs/components/src/components/glass-responsive-card/glass-responsive-card.stories.tsx
Due: bunx oxlint --fix, prettier --write

Last acessment
  apps/docs/style.css
  apps/storybook/.storybook/main.mjs
  libs/components/src/components/glass-breadcrumbs/glass-breadcrumbs.tsx
  libs/components/src/components/glass-checkbox-group/glass-checkbox-group.tsx
  libs/components/src/components/glass-combobox/glass-combobox.tsx
  libs/components/src/components/glass-date-picker/glass-date-picker.tsx
  libs/components/src/components/glass-drawer/glass-drawer.tsx
  libs/components/src/components/glass-file-upload/glass-file-upload.tsx
  libs/components/src/components/glass-form-field/glass-form-field.tsx
  libs/components/src/components/glass-mobile-nav/glass-mobile-nav.tsx
  libs/components/src/components/glass-number-input/glass-number-input.tsx
  libs/components/src/components/glass-pagination/glass-pagination.tsx
  libs/components/src/components/glass-radio-group/glass-radio-group.tsx
  libs/components/src/components/glass-skeleton/glass-skeleton.tsx
Due: bunx oxlint --fix, prettier --write

storybook: add themes addon and remove hardcoded themes
  apps/storybook/.storybook/main.mjs
  apps/storybook/.storybook/preview.jsx
  apps/storybook/package.json
  bun.lock
  package.json
Due: prettier --write

fix storybook
  apps/storybook/.storybook/preview.jsx
Due: none

fix: add missing global-setup.ts for vitest configuration
  libs/components/src/test/global-setup.ts
Due: bunx oxlint --fix, prettier --write

chore: bump version to 1.3.5 for deployment
  apps/storybook/package.json
  libs/components/package.json
  liquidify-1.3.5.tgz
  package-lock.json
  package.json
Due: prettier --write

fix: remove provenance from publishConfig for successful npm publish
  package.json
Due: prettier --write

chore: clean up deployment artifacts
  liquidify-1.3.5.tgz
Due: none

chore: bump version to 1.3.6 for corrected deployment
  apps/storybook/package.json
  libs/components/package.json
  package-lock.json
  package.json
Due: prettier --write
