Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["bunx oxlint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

chore: remove apps workspace; clean CI, Panda config, WARP.md, and README for library-only repo
  .github/workflows/build-validation.yml
  .github/workflows/ci.yml
  README.md
  WARP.md
  apps/showcase/README.md
  apps/showcase/index.html
  apps/showcase/src/App.tsx
  apps/showcase/src/app.css
  apps/showcase/src/main.tsx
  apps/showcase/vite.config.ts
  apps/unified/README.md
  apps/unified/index.html
  apps/unified/package.json
  apps/unified/src/App.tsx
  apps/unified/src/components/ErrorBoundary.tsx
  apps/unified/src/components/GlassHeader.tsx
  apps/unified/src/components/SkipToContentLink.tsx
  apps/unified/src/hooks/usePageTitle.ts
  apps/unified/src/main.tsx
  apps/unified/src/pages/Components.tsx
  apps/unified/src/pages/Landing.tsx
  apps/unified/src/pages/NotFound.tsx
  apps/unified/tsconfig.json
  apps/unified/vite.config.ts
  package.json
  panda.config.ts
  styled-system/recipes/liquid-glass.js
Due: bunx oxlint --fix, prettier --write

chore: library-only hardening — remove examples, tighten Panda includes, fix dev/watch to Vite, add banned-words CI step
  .github/workflows/build-validation.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  audits/button-built.html
  audits/button-generated.html
  audits/button-panda.html
  libs/components/package.json
  liquidify.code-workspace
  package.json
  panda.config.ts
Due: bunx oxlint --fix, prettier --write

ci: add banned-words enforcement; drop contrast audit step; exclude docs from banned scan
  .github/workflows/build-validation.yml
  .github/workflows/ci.yml
  .github/workflows/contrast-audit.yml
Due: none

feat!: add wildcard subpath exports for per-component imports; test policy: unit tests only; align CI and WARP.md
  .github/workflows/contrast-audit.yml
  .github/workflows/release.yml
  WARP.md
  package.json
Due: prettier --write

build: auto-discover per-component entries for subpath exports in Vite lib build
  libs/components/vite.config.ts
Due: bunx oxlint --fix, prettier --write

v0.6
  package.json
Due: prettier --write

chore(release): v0.6.1
  .github/workflows/contrast-audit.yml
  README.md
  bun.lock
  libs/components/src/hooks/use-theme.tsx
  libs/components/src/lib/theme.ts
  libs/components/vite.config.ts
  liquidify-0.6.0.tgz
  liquidify-1.3.7.tgz
  package.json
  scripts/ssr-smoke.mjs
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

v0.6.4
  package.json
Due: prettier --write

Enable static CSS generation for all recipe variants
  panda.config.ts
  styled-system/styles.css
Due: bunx oxlint --fix, prettier --write

v0.6.5
  apple-card-demo-dual.html
  apple-card-demo-light.html
  package.json
Due: prettier --write

enhancements on css
  biomeSCEDFvr gbthynjumi,o.p-[}|.json
  liquidify-0.6.0.tgz
  liquidify-hig-liquid-glass-pack/README.md
  liquidify-hig-liquid-glass-pack/panda.config.ts
  liquidify-hig-liquid-glass-pack/src/components/ButtonDemo.tsx
  liquidify-hig-liquid-glass-pack/src/components/FieldDemo.tsx
  liquidify-hig-liquid-glass-pack/src/components/LiquidBackdrop.tsx
  liquidify-hig-liquid-glass-pack/src/components/Navbar.tsx
  liquidify-hig-liquid-glass-pack/src/components/SegmentedTabs.tsx
  liquidify-hig-liquid-glass-pack/src/pages/DemoPage.tsx
  liquidify-hig-liquid-glass-pack/src/theme/recipes.ts
  liquidify-react-0.6.3.tgz
Due: bunx oxlint --fix, prettier --write

Refactors styling to use Panda CSS `css` prop
  biome.json
  biomeSCEDFvr gbthynjumi,o.p-[}|.json
  libs/components/src/test/smoke.test.tsx
  liquidify-hig-liquid-glass-pack/panda.config.ts
  liquidify-hig-liquid-glass-pack/src/components/ButtonDemo.tsx
  liquidify-hig-liquid-glass-pack/src/components/FieldDemo.tsx
  liquidify-hig-liquid-glass-pack/src/components/LiquidBackdrop.tsx
  liquidify-hig-liquid-glass-pack/src/components/Navbar.tsx
  liquidify-hig-liquid-glass-pack/src/components/SegmentedTabs.tsx
  liquidify-hig-liquid-glass-pack/src/pages/DemoPage.tsx
  liquidify-hig-liquid-glass-pack/src/theme/recipes.ts
  panda.config.ts
  styled-system/styles.css
Due: bunx oxlint --fix, prettier --write

A
  libs/components/src/components/badge/Badge.tsx
  libs/components/src/components/badge/index.ts
  libs/components/src/components/card/Card.tsx
  libs/components/src/components/card/index.ts
  libs/components/src/components/liquidBackdrop/LiquidBackdrop.tsx
  libs/components/src/components/liquidBackdrop/index.ts
  libs/components/src/components/navbar/Navbar.tsx
  libs/components/src/components/navbar/index.ts
  libs/components/src/components/symbolTile/SymbolTile.tsx
  libs/components/src/components/symbolTile/index.ts
  libs/components/src/index.ts
  liquidify-components-preview.html
  panda.config.ts
  styled-system/recipes/badge.d.ts
  styled-system/recipes/badge.js
  styled-system/recipes/card.d.ts
  styled-system/recipes/card.js
  styled-system/recipes/index.d.ts
  styled-system/recipes/index.js
  styled-system/recipes/input.d.ts
  styled-system/recipes/input.js
  styled-system/recipes/navbar.d.ts
  styled-system/recipes/navbar.js
  styled-system/recipes/symbol-tile.d.ts
  styled-system/recipes/symbol-tile.js
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
  styled-system/types/prop-type.d.ts
Due: bunx oxlint --fix, prettier --write

Adds components to preview Liquidify styling
  liquidify-components-preview.html
Due: none

enhancements on css
  CLAUDE.md
  libs/components/src/components/ark-ui/angleSlider/angleSlider.tsx
  libs/components/src/components/ark-ui/clipboard/clipboard.tsx
  libs/components/src/components/ark-ui/collapsible/collapsible.tsx
  libs/components/src/components/ark-ui/progressCircular/progressCircular.tsx
  libs/components/src/components/ark-ui/progressLinear/progressLinear.tsx
  libs/components/src/components/ark-ui/qrCode/qrCode.tsx
  libs/components/src/components/ark-ui/timer/timer.tsx
  libs/components/src/components/button/button.tsx
  libs/components/src/components/liquidBackdrop/LiquidBackdrop.tsx
  libs/components/src/components/navbar/Navbar.tsx
  libs/components/src/index.ts
  liquidify-hig-liquid-glass-pack/README.md
  liquidify-hig-liquid-glass-pack/panda.config.ts
  liquidify-hig-liquid-glass-pack/src/components/ButtonDemo.tsx
  liquidify-hig-liquid-glass-pack/src/components/FieldDemo.tsx
  liquidify-hig-liquid-glass-pack/src/components/LiquidBackdrop.tsx
  liquidify-hig-liquid-glass-pack/src/components/Navbar.tsx
  liquidify-hig-liquid-glass-pack/src/components/SegmentedTabs.tsx
  liquidify-hig-liquid-glass-pack/src/pages/DemoPage.tsx
  liquidify-hig-liquid-glass-pack/src/theme/recipes.ts
  panda.config.ts
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
Due: bunx oxlint --fix, prettier --write

Adds initial documentation structure
  docs-public/_templates/component.mdx
  docs-public/_templates/page.mdx
  docs-public/advanced/accessibility.mdx
  docs-public/advanced/design.mdx
  docs-public/advanced/migration.mdx
  docs-public/advanced/performance.mdx
  docs-public/components/index.mdx
  docs-public/contributing.mdx
  docs-public/guides/getting-started.mdx
  docs-public/guides/importing.mdx
  docs-public/guides/installing.mdx
  docs-public/guides/overview.mdx
  docs-public/index.mdx
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
Due: bunx oxlint --fix, prettier --write

v0.6.6
  package.json
Due: prettier --write

ci: add styles/global guard and banned-tools check; create CI workflow
  .github/workflows/ci.yml
  libs/components/src/components/ark-ui/editable/editable.tsx
  libs/components/src/components/ark-ui/field/field.tsx
  libs/components/src/components/ark-ui/fieldset/fieldset.tsx
  libs/components/src/components/ark-ui/floatingPanel/floatingPanel.tsx
  libs/components/src/components/ark-ui/hoverCard/hoverCard.tsx
  libs/components/src/components/ark-ui/listbox/listbox.tsx
  libs/components/src/components/ark-ui/passwordInput/passwordInput.tsx
  libs/components/src/components/ark-ui/scrollArea/scrollArea.tsx
  libs/components/src/components/ark-ui/segmentGroup/segmentGroup.tsx
  libs/components/src/components/ark-ui/signaturePad/signaturePad.tsx
  libs/components/src/components/ark-ui/splitter/splitter.tsx
  libs/components/src/components/ark-ui/steps/steps.tsx
  libs/components/src/components/ark-ui/tagsInput/tagsInput.tsx
  libs/components/src/components/ark-ui/toggle/toggle.tsx
  libs/components/src/components/ark-ui/toggleGroup/toggleGroup.tsx
  libs/components/src/components/ark-ui/tour/tour.tsx
  libs/components/src/components/ark-ui/treeView/treeView.tsx
  package.json
  panda.config.ts
  styled-system/styles.css
Due: bunx oxlint --fix, prettier --write

chore: format ark primitive wrappers
  libs/components/src/components/ark-ui/field/field.tsx
  libs/components/src/components/ark-ui/hoverCard/hoverCard.tsx
  libs/components/src/components/ark-ui/listbox/listbox.tsx
  libs/components/src/components/ark-ui/passwordInput/passwordInput.tsx
  libs/components/src/components/ark-ui/scrollArea/scrollArea.tsx
  libs/components/src/components/ark-ui/segmentGroup/segmentGroup.tsx
  libs/components/src/components/ark-ui/signaturePad/signaturePad.tsx
  libs/components/src/components/ark-ui/steps/steps.tsx
  libs/components/src/components/ark-ui/toggle/toggle.tsx
  libs/components/src/components/ark-ui/toggleGroup/toggleGroup.tsx
  libs/components/src/components/ark-ui/tour/tour.tsx
Due: bunx oxlint --fix, prettier --write

v0.6.8
  button-preview.html
  libs/components/src/components/ark-ui/accordion/accordion.tsx
  libs/components/src/recipes/panda-config-addition.ts
  package.json
  panda.config.ts
  styled-system/styles.css
  styled-system/tokens/index.js
Due: bunx oxlint --fix, prettier --write

Documents Apple HIG‑inspired rounded corners
  README.md
Due: prettier --write

v0.6.9
  AGENTS.md
  openspec/AGENTS.md
  openspec/changes/add-apple-hig-button/proposal.md
  openspec/changes/add-apple-hig-button/specs/components/button/spec.md
  openspec/changes/add-apple-hig-button/specs/design-system/button-consistency/spec.md
  openspec/changes/add-apple-hig-button/tasks.md
  openspec/project.md
  package.json
  preview-components/avatar-preview.html
  preview-components/badge-preview.html
  preview-components/base-styles.css
  preview-components/card-preview.html
  preview-components/template.html
Due: prettier --write

feat(modal): add accessible modal with robust focus management; tests: stabilize focus restore and make jsdom setup idempotent to unflake smoke tests
  libs/components/src/components/modal/Modal.test.tsx
  libs/components/src/components/modal/Modal.tsx
  libs/components/src/test/smoke.test.tsx
  libs/components/src/test/test-setup.ts
Due: bunx oxlint --fix, prettier --write

test(setup): remove noisy console log; chore(modal): add index barrel
  libs/components/src/components/modal/index.ts
  libs/components/src/test/test-setup.ts
Due: bunx oxlint --fix, prettier --write

build(vite): DRY assetFileNames; fix(modal): organize imports
  libs/components/src/components/modal/index.ts
  libs/components/vite.config.ts
  package.json
Due: bunx oxlint --fix, prettier --write

Update OpenSpec project configuration
  openspec/project.md
  panda.config.ts
Due: bunx oxlint --fix, prettier --write

test(theme): add ThemeProvider accent tests to verify dynamic accent application and persistence
  libs/components/src/test/theme-accent.test.tsx
Due: bunx oxlint --fix, prettier --write

fix(modal): satisfy TS strict typing in Tab focus trap by using non-null assertions after length guard
  libs/components/src/components/modal/Modal.tsx
Due: bunx oxlint --fix, prettier --write
