Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["bunx oxlint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

v0.6.17
  package.json
Due: prettier --write

Updates build output path and fixes related issues
  README.md
  libs/components/tsconfig.lib.json
  openspec/changes/archive/2025-10-01-fix-import-paths-audit/proposal.md
  openspec/changes/archive/2025-10-01-fix-import-paths-audit/specs/build-system/spec.md
  openspec/changes/archive/2025-10-01-fix-import-paths-audit/tasks.md
  openspec/changes/fix-external-consumer-styles-inclusion/specs/theming/spec.md
  openspec/changes/fix-external-consumer-styles-inclusion/tasks.md
  openspec/changes/fix-missing-css-validation-script/proposal.md
  openspec/changes/fix-missing-css-validation-script/specs/build-system/spec.md
  openspec/changes/fix-missing-css-validation-script/tasks.md
  openspec/project.md
  openspec/specs/build-system/spec.md
  package.json
  preview-components/avatar-preview.html
  preview-components/badge-preview.html
  preview-components/card-preview.html
  test-imports.js
Due: prettier --write

v0.6.18
  package.json
Due: prettier --write

first launch
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  CLAUDE.md
  README.md
  openspec/changes/enhance-apple-hig-design-polish/proposal.md
  openspec/changes/enhance-apple-hig-design-polish/specs/theming/spec.md
  openspec/changes/enhance-apple-hig-design-polish/tasks.md
  openspec/changes/readme-rewrite-production-launch/GITHUB_SETUP.md
  openspec/changes/readme-rewrite-production-launch/proposal.md
  openspec/changes/readme-rewrite-production-launch/specs/documentation/spec.md
  openspec/changes/readme-rewrite-production-launch/tasks.md
  package.json
  panda.config.ts
  styled-system/styles.css
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
Due: bunx oxlint --fix, prettier --write

v0.6.19
  package.json
Due: prettier --write

feat(fonts): add comprehensive SF font fallback system with CDN support
  FONT-IMPLEMENTATION-SUMMARY.md
  demo/font-test.html
  demo/index.html
  docs/CHANGELOG-FONTS.md
  docs/FONTS.md
  libs/components/src/styles/fonts.css
  libs/components/src/styles/new-design-system.css
  panda.config.ts
  styled-system/styles.css
  styled-system/tokens/index.js
Due: bunx oxlint --fix, prettier --write

fix: .flox/env.lock
  styled-system/styles.css
Due: none

v0.6.20
  package.json
Due: prettier --write

chore: update package
  libs/components/package.json
  libs/components/src/__tests__/button.variants.spec.tsx
  package.json
Due: bunx oxlint --fix, prettier --write

v0.6.22
  WWDC_2025_IMPLEMENTATION_SUMMARY.md
  libs/components/styled-system/tokens/index.js
  libs/components/styled-system/tokens/tokens.d.ts
  libs/components/styled-system/types/prop-type.d.ts
  openspec/changes/archive/2025-10-06-add-theme-system-sync/proposal.md
  openspec/changes/archive/2025-10-06-add-theme-system-sync/specs/theming/spec.md
  openspec/changes/archive/2025-10-06-add-theme-system-sync/tasks.md
  openspec/changes/archive/2025-10-06-fix-ark-ui-imports-and-rendering/proposal.md
  openspec/changes/archive/2025-10-06-fix-ark-ui-imports-and-rendering/specs/build-system/spec.md
  openspec/changes/archive/2025-10-06-fix-ark-ui-imports-and-rendering/tasks.md
  openspec/changes/archive/2025-10-06-fix-external-consumer-styles-inclusion/proposal.md
  openspec/changes/archive/2025-10-06-fix-external-consumer-styles-inclusion/specs/theming/spec.md
  openspec/changes/archive/2025-10-06-fix-external-consumer-styles-inclusion/tasks.md
  openspec/changes/archive/2025-10-06-fix-missing-css-validation-script/proposal.md
  openspec/changes/archive/2025-10-06-fix-missing-css-validation-script/specs/build-system/spec.md
  openspec/changes/archive/2025-10-06-fix-missing-css-validation-script/tasks.md
  openspec/changes/refine-wwdc-2025-liquid-glass/proposal.md
  openspec/changes/refine-wwdc-2025-liquid-glass/specs/theming/spec.md
  openspec/changes/refine-wwdc-2025-liquid-glass/tasks.md
  openspec/specs/build-system/spec.md
  openspec/specs/theming/spec.md
  package.json
  panda.config.ts
  styled-system/tokens/index.js
  styled-system/tokens/tokens.d.ts
  styled-system/types/prop-type.d.ts
Due: bunx oxlint --fix, prettier --write

v0.6.23
  package.json
Due: prettier --write

chore: update package
  cleanup.sh
  styled-system/styles.css
  test-imports.mdx
Due: none

cleaning configuration to solve issues
  bun.lock
  package.json
Due: prettier --write

v0.6.24
  package.json
Due: prettier --write

cleaning configuration to solve issues
  bun.lock
Due: none

upodating deps
  bun.lock
  package.json
Due: prettier --write

v0.6.25
  package.json
Due: prettier --write

ui-enhancements
  .amazonq/cli-todo-lists/1762139946865.json
  libs/components/tsconfig.lib.json
  package.json
Due: prettier --write

dependabot
  .github/dependabot.yml
Due: none

Updated README and documentation with new sections and improved documentation.
  .cursor/commands/init.md
  .github/workflows/build-validation.yml
  .github/workflows/codecoverage.yml
  .github/workflows/release-dry-run.yml
  AGENTS.md
  RELEASE.md
  biome.json
  bun.lock
  docs/production-readiness.md
  libs/components/package.json
  libs/components/src/__tests__/button.variants.spec.tsx
  libs/components/src/components/ark-ui/fieldset/fieldset.tsx
  libs/components/src/components/ark-ui/listbox/listbox.tsx
  libs/components/src/components/ark-ui/radioGroup/radioGroup.tsx
  libs/components/src/components/ark-ui/steps/steps.tsx
  libs/components/src/components/badge/Badge.tsx
  libs/components/src/components/button/button.tsx
  libs/components/src/components/card/Card.tsx
  libs/components/src/components/iconButton/IconButton.tsx
  libs/components/src/components/modal/Modal.tsx
  libs/components/src/core/utils/classname.ts
  libs/components/src/hooks/use-device-capabilities.tsx
  libs/components/src/hooks/use-ssr-safe.ts
  libs/components/src/hooks/useGlassMicro.ts
  libs/components/src/hooks/useMagneticHover.ts
  libs/components/src/hooks/useReducedMotion.ts
  libs/components/src/lib/variant-system.ts
  libs/components/src/styles/entry.ts
  libs/components/src/test/ark-primitives.test.tsx
  libs/components/src/test/core-components.test.tsx
  libs/components/src/test/doc-example.test.tsx
  libs/components/src/test/hooks-and-utils.test.tsx
  libs/components/src/test/test-setup.ts
  libs/components/src/test/theme-accent.test.tsx
  libs/components/src/test/working-react.test.tsx
  libs/components/test-fixtures/consumer/package.json
  libs/components/vite.config.ts
  package.json
  tsconfig.base.json
  vitest.config.mts
Due: bunx oxlint --fix, prettier --write

fix: linting and tsc errors, bump version to 0.6.26
  libs/components/src/components/button/button.tsx
  libs/components/src/hooks/use-device-capabilities.tsx
  libs/components/src/hooks/useReducedMotion.ts
  libs/components/src/test/ark-primitives.test.tsx
  libs/components/src/test/core-components.test.tsx
  libs/components/src/test/hooks-and-utils.test.tsx
  libs/components/src/test/test-setup.ts
  package.json
Due: bunx oxlint --fix, prettier --write

chore(release): v0.6.26
  CHANGELOG.md
Due: prettier --write

chore: release 1.0.0 — production stable, consumer fixture test, changelog
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write
