Repository tuliopc23/LiqUIdify: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx oxlint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["bunx oxlint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

cleaning dependencies
  .crush/crush.db
  .crush/crush.db-shm
  .crush/crush.db-wal
  .crush/init
  bun.lock
  libs/components/src/bundles/accessibility.ts
  libs/components/src/bundles/core.ts
  libs/components/src/components/glass-avatar/glass-avatar.tsx
  libs/components/src/components/glass-banner/glass-banner.tsx
  libs/components/src/components/glass-breadcrumbs/glass-breadcrumbs.tsx
  libs/components/src/components/glass-dropdown/glass-dropdown.tsx
  libs/components/src/components/glass-file-upload/glass-file-upload.tsx
  libs/components/src/components/glass-loading/glass-loading.tsx
  libs/components/src/components/glass-pagination/glass-pagination.tsx
  libs/components/src/components/glass-popover/glass-popover.tsx
  libs/components/src/components/glass-progress/glass-progress.tsx
  libs/components/src/components/glass-skeleton/glass-skeleton.tsx
  libs/components/src/components/glass-timeline/glass-timeline.tsx
  libs/components/src/components/glass-tooltip/glass-tooltip.tsx
  libs/components/src/components/glass-tree-view/glass-tree-view.tsx
  libs/components/src/index.ts
  package.json
  tsconfig.json
  vite.config.ts
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  .buildignore
  .crush/crush.db
  .crush/crush.db-shm
  .crush/crush.db-wal
  .crush/init
  .flox/.gitattributes
  .flox/.gitignore
  .flox/env.json
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .kodezi/scan-history.json
  bun.lock
  libs/components/rolldown.config.ts
  libs/components/src/components/glass-error-boundary.tsx
  libs/components/src/components/glass-live-region.tsx
  libs/components/src/styles/liquid-glass.css
  libs/components/tsconfig.lib.json
  package.json
  tsconfig.base.json
  tsconfig.build.json
  vite.config.backup.ts
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  bun.lock
  libs/components/rolldown.config.ts
  package.json
  tsconfig.base.json
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  bun.lock
  package.json
Due: prettier --write

Pre-production fixes backup
  PRODUCTION_READINESS_REPORT.md
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/production-stories.config.ts
  apps/storybook/package.json
  bun.lock
  libs/components/src/examples/glass-playground/glass-playground.stories.tsx
  libs/components/src/examples/glass-playground/glass-playground.tsx
  libs/components/src/stories/00-welcome.stories.tsx
  libs/components/src/stories/components/glass-accessible-demo.stories.tsx.disabled
  libs/components/src/stories/components/glass-error-boundary.stories.tsx
  libs/components/src/stories/components/glass-focus-demo.stories.tsx.disabled
  libs/components/src/stories/components/glass-live-region.stories.tsx.disabled
  libs/components/src/stories/components/glass-performance-dashboard.stories.tsx.disabled
  libs/components/src/stories/components/glass-visually-hidden.stories.tsx.disabled
  libs/components/src/stories/design-system/component-guidelines.stories.tsx
  libs/components/src/stories/design-system/design-tokens.stories.tsx.disabled
  libs/components/src/stories/design-system/glassmorphism-showcase.stories.tsx
  mint-docs/components/card.mdx
  mint-docs/components/input.mdx
  mint-docs/quickstart.mdx
  mint-docs/theming.mdx
  package.json
Due: bunx oxlint --fix, prettier --write

feat: Explicitly export GlassErrorBoundary and enable it
  libs/components/src/index.ts
Due: bunx oxlint --fix, prettier --write

chore: Remove unused and deprecated component exports
  libs/components/src/index.ts
Due: bunx oxlint --fix, prettier --write

chore: Clean up unused and commented-out exports in index.ts
  libs/components/src/index.ts
Due: bunx oxlint --fix, prettier --write

chore(docs): update docs:dev script to use npx mintlify@latest from apps/docs dir for stable preview
  package.json
Due: prettier --write

Migrates documentation to Mintlify
  .crush/crush.db
  .crush/crush.db-shm
  .crush/crush.db-wal
  .crush/init
  .github/workflows/build-validation.yml
  .github/workflows/deploy-docs.yml
  apps/docs/api/index.mdx
  apps/docs/components/button.mdx
  apps/docs/components/card.mdx
  apps/docs/components/dropdown.mdx
  apps/docs/components/index.mdx
  apps/docs/components/input.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/switch.mdx
  apps/docs/components/table.mdx
  apps/docs/components/tabs.mdx
  apps/docs/components/toast.mdx
  apps/docs/components/tooltip.mdx
  apps/docs/getting-started/installation.mdx
  apps/docs/getting-started/quickstart.mdx
  apps/docs/guides/theming.mdx
  apps/docs/images/apple-glass-bg.svg
  apps/docs/index.mdx
  apps/docs/logo-dark.svg
  apps/docs/logo-light.svg
  apps/docs/mint.json
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/tsconfig.json
  bun.lock
  libs/components/src/components/glass-accordion/glass-accordion.stories.tsx
  libs/components/src/components/glass-accordion/glass-accordion.tsx
  libs/components/src/components/glass-breadcrumbs/glass-breadcrumbs.stories.tsx
  libs/components/src/components/glass-card-refactored/glass-card.stories.tsx
  libs/components/src/components/glass-card-refactored/glass-card.tsx
  package.json
  tsconfig.base.json
  tsconfig.json
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-validation.yml
Due: none

cleaning configuration to solve issues
  WARP.md
  bun.lock
Due: prettier --write

docs: demote duplicate H1 headings (migration, components overview, date picker)
  apps/docs/components/date-picker.mdx
  apps/docs/components/index.mdx
  apps/docs/migrate/from-previous.mdx
Due: none

chore: version bump to 1.3.2
  package.json
Due: prettier --write

chore: bump version to 1.3.3 for publish
  package.json
Due: prettier --write

cleaning configuration to solve issues
  apps/docs/mint.json
  package.json
Due: prettier --write

Update apps/storybook/.storybook/main.mjs
  apps/storybook/.storybook/main.mjs
Due: none

cleaning configuration to solve issues
  apps/docs/mint.json
Due: prettier --write

style: apply automatic formatting from lint fixes
  .github/workflows/contrast-audit.yml
  CHANGELOG.md
  apps/docs/components/card.mdx
  apps/docs/components/chart.mdx
  apps/docs/components/checkbox-group.mdx
  apps/docs/components/checkbox.mdx
  apps/docs/components/combobox.mdx
  apps/docs/components/command.mdx
  apps/docs/components/date-picker.mdx
  apps/docs/components/drawer.mdx
  apps/docs/components/error-boundary.mdx
  apps/docs/components/file-upload.mdx
  apps/docs/components/focus-trap.mdx
  apps/docs/components/index.mdx
  apps/docs/components/mobile-nav.mdx
  apps/docs/components/modal.mdx
  apps/docs/components/number-input.mdx
  apps/docs/components/skeleton.mdx
  apps/docs/components/textarea.mdx
  apps/docs/components/theme-provider.mdx
  apps/docs/getting-started/project-setup.mdx
  apps/docs/getting-started/quickstart.mdx
  apps/docs/migrate/from-previous.mdx
  apps/docs/mint.json
  apps/docs/styles/liquid-glass.css
  apps/storybook/.storybook/main.mjs
  bun.lock
  libs/components/src/components/glass-alert/glass-alert.stories.tsx
  libs/components/src/components/glass-banner/glass-banner.stories.tsx
  libs/components/src/components/glass-focus-trap/glass-focus-trap.stories.tsx
  libs/components/src/components/glass-portal/glass-portal.stories.tsx
  libs/components/src/components/glass-timeline/glass-timeline.stories.tsx
  libs/components/src/components/glass-tree-view/glass-tree-view.stories.tsx
  libs/components/src/components/navbar/navbar.stories.tsx
  libs/components/src/components/navbar/navbar.tsx
  libs/components/src/components/sidebar/sidebar.stories.tsx
  libs/components/src/components/sidebar/sidebar.tsx
  libs/components/src/components/theme-toggle/theme-toggle.stories.tsx
  libs/components/src/styles/liquid-glass.css
  pnpm-lock.yaml
Due: bunx oxlint --fix, prettier --write

cleaning configuration to solve issues
  bun.lock
Due: none

Updates dependencies
  package.json
Due: prettier --write

cleaning configuration to solve issues
  .github/workflows/contrast-audit.yml
  bun.lock
  package.json
Due: prettier --write

finishing documentation
  .github/workflows/release-dry-run.yml
  apps/docs/components/Preview.tsx
  apps/docs/components/index.mdx
  apps/docs/components/liquid-glass.mdx
Due: bunx oxlint --fix, prettier --write

Refines liquid glass effect and color palette
  apps/docs/images/apple-glass-bg.svg
  apps/docs/styles/liquid-glass.css
Due: none

cleaning configuration to solve issues
  apps/docs/advanced/framework-integration.mdx
  apps/docs/components/card.mdx
  apps/docs/components/index.mdx
  apps/docs/components/liquid-glass.mdx
  apps/docs/contributing.mdx
  apps/docs/development/testing-strategy.mdx
  apps/docs/index.mdx
  apps/docs/scripts/enhancements.js
  apps/docs/styles/apple-hig.css
  apps/docs/styles/enhanced-typography.css
  apps/docs/styles/high_contrast_media_queries.css
  apps/docs/styles/high_contrast_styles.css
  apps/docs/styles/liquid-glass.css
  apps/docs/styles/mintlify-typography.css
  apps/docs/styles/theme-backgrounds.css
  docs/PERFORMANCE_GUIDE.md
  libs/components/src/styles/glass-core.css
  libs/components/src/styles/liquid-glass.css
Due: prettier --write

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

docs(sandpack): improve previews — pin deps, add hidden boot files, CSS defaults, height controls; simplify showcase to App-only
  apps/docs/components/Playground.tsx
  apps/docs/components/PlaygroundPreview.tsx
  apps/docs/components/showcase.mdx
Due: bunx oxlint --fix, prettier --write
